flows.json
[{"id":"56eca6f3.318ce8","label":"new package","type":"tab"},{"id":"82a25a3.5f0cca8","type":"uibuilder","z":"56eca6f3.318ce8","name":"","templates":{"5d8066a2.b02428":{"id":"5d8066a2.b02428","label":"group:5d8066a2.b02428","type":"group","x":-3,"y":-1,"width":1263,"height":730.7055125427244,"children":["291c5640.10b17a"],"style":{"fill":"none","stroke":"none","opacity":1,"stroke-width":0}},"291c5640.10b17a":{"id":"291c5640.10b17a","type":"group","label":"group:291c5640.10b17a","x":0,"y":0,"width":1263,"height":730.7055125427244,"style":{"fill":"","stroke":"","stroke-width":0,"opacity":1},"children":["d5d506da.045e58","bc7b5226.88835","abadc174.cc1c5","bac80578.687238","a841574b.4cd198","731f311a.f65e","4db73a2d.44d6f4","c14a11b.c13baf","3c5b3506.11028a"]},"d5d506da.045e58":{"id":"d5d506da.045e58","label":"path:d5d506da.045e58","type":"path","d":"M 2.1392062500000004,210.17109374999998 c 19.85909625,-72.34306125000002 84.00844499999995,-125.37327375 159.98894624999997,-125.37327375 c 75.98050125,0 140.12985000000006,53.030212500000026 159.990525,125.37327375 l -319.97947125000013,0 Z","style":{"fill":"rgb(127, 177, 116)","stroke":"none","stroke-width":0,"opacity":1}},"bc7b5226.88835":{"id":"bc7b5226.88835","label":"path:bc7b5226.88835","type":"path","d":"M 263.00869875,209.853765 c 30.359362499999996,-81.29931 107.99123624999993,-139.17470624999999 198.86882249999996,-139.17470624999999 c 90.87916499999996,0 168.51103874999993,57.875396250000016 198.87040125000004,139.17470624999999 l -397.7392237499997,0 Z","style":{"fill":"rgb(146, 213, 206)","stroke":"none","stroke-width":0,"opacity":1}},"abadc174.cc1c5":{"id":"abadc174.cc1c5","label":"path:abadc174.cc1c5","type":"path","d":"M 702.3685087499996,208.4834099999999 l -254.5087087500001,0 l 127.25514375000003,-177.79566749999995 l 127.25356500000001,177.79566749999995 Z","style":{"fill":"rgb(127, 177, 116)","stroke":"none","stroke-width":0,"opacity":1}},"bac80578.687238":{"id":"bac80578.687238","label":"path:bac80578.687238","type":"path","d":"M 923.3050987499997,208.4834099999999 l -276.2480962500001,0 l 138.12325875000002,-166.86598125 l 138.12483749999998,166.86598125 Z","style":{"fill":"rgb(140, 140, 140)","stroke":"none","stroke-width":0,"opacity":1}},"a841574b.4cd198":{"id":"a841574b.4cd198","label":"path:a841574b.4cd198","type":"path","d":"M 906.72033,208.4834099999999 c 18.548733750000007,-68.46880875 91.19333624999997,-119.6155725 177.87618374999994,-119.6155725 c 86.68284749999995,0 159.32744999999997,51.14676375 177.87618374999994,119.6155725 l -355.7523674999999,0 Z","style":{"fill":"rgb(145, 207, 142)","stroke":"none","stroke-width":0,"opacity":1}},"731f311a.f65e":{"id":"731f311a.f65e","type":"group","label":"group:731f311a.f65e","x":0,"y":0,"width":1263,"height":409.60511684417725,"style":{"fill":"","stroke":"","stroke-width":0,"opacity":1},"children":["aa4e4a4c.9b8158","54b5a4c5.6e4f3c","bd7a5668.b2a2a8"]},"aa4e4a4c.9b8158":{"id":"aa4e4a4c.9b8158","label":"negative rect","type":"rect","x":0,"y":321.1003956985471,"width":420.69264610290514,"height":409.60511684417725,"style":{"fill":"#D8524F","stroke":"none","stroke-width":0,"opacity":1}},"54b5a4c5.6e4f3c":{"id":"54b5a4c5.6e4f3c","label":"rect:54b5a4c5.6e4f3c","type":"rect","x":421.06839900970454,"y":321.1003956985471,"width":420.71635047912594,"height":409.60039524078366,"style":{"fill":"rgb(146, 213, 206)","stroke":"none","stroke-width":0,"opacity":1}},"bd7a5668.b2a2a8":{"id":"bd7a5668.b2a2a8","label":"positive rect","type":"rect","x":842.2836495208738,"y":321.1003956985471,"width":420.71635047912594,"height":409.60039524078366,"style":{"fill":"#91CF8E","stroke":"none","stroke-width":0,"opacity":1}},"4db73a2d.44d6f4":{"id":"4db73a2d.44d6f4","label":"rect:4db73a2d.44d6f4","type":"rect","x":0,"y":207.48406780242914,"width":1263,"height":114.27308847427365,"style":{"fill":"rgb(69, 69, 69)","stroke":"none","stroke-width":0,"opacity":1}},"c14a11b.c13baf":{"id":"c14a11b.c13baf","label":"path:c14a11b.c13baf","type":"path","d":"M 1263,321.75556499999993 l -1263,0 l 0,-114.27150375 l 1263,0 l 0,114.27150375 Z m -1251.9487500000005,-103.22025375 l 0,92.1705825 l 1240.8975000000003,0 l 0,-92.1705825 l -1240.8975000000003,0 Z","style":{"fill":"rgb(69, 69, 69)","stroke":"none","stroke-width":0,"opacity":1}},"3c5b3506.11028a":{"id":"3c5b3506.11028a","label":"path:3c5b3506.11028a","type":"path","d":"M 0.562035,0 l 1154.8840424999999,206.6299575 l -1154.8840424999999,0 l 0,-206.6299575 Z","style":{"fill":"rgb(255, 255, 255)","stroke":"none","stroke-width":0,"opacity":"0.2"}},"df0b1ae3.e09078":{"id":"df0b1ae3.e09078","label":"positiveface","type":"group","x":936,"y":367,"width":256,"height":261.9620466906903,"children":["aeb09f79.9b353"],"style":{"fill":"none","stroke":"none","opacity":1,"stroke-width":0}},"aeb09f79.9b353":{"id":"aeb09f79.9b353","type":"group","label":"group:aeb09f79.9b353","x":0,"y":0,"width":256,"height":261.9620466906903,"style":{"fill":"","stroke":"","stroke-width":0,"opacity":1},"children":["efecf9ca.5188b8","c09d4f0c.abdfc","1ee7ce72.d2f612","ea2f69d.d059f98"]},"efecf9ca.5188b8":{"id":"efecf9ca.5188b8","label":"path:efecf9ca.5188b8","type":"path","d":"M 48.33777233761332,169.97812119748525 c 2.317959145080941,-63.70289599655318 26.906255048701976,-75.34391733842376 93.26263797818758,-73.55102076211806 c 56.596622352324374,-7.212566798395502 79.63022079620603,17.96738497540641 68.12238605714673,73.55102076211806 c 12.338970366218158,-3.5742673889065784 22.160201683138453,1.6020811549703078 24.003043235498385,15.498310261751133 c 0.6992296647592232,5.265993372692171 -8.194817994128698,17.393658070988586 -17.923843201410417,15.791576916018277 c 0,0 -1.4420011035144416,14.21895049051585 -3.036398416014868,16.35505869714293 c -29.352278234947608,39.328467041677186 -76.46063577737988,44.50097366431913 -88.94175722929086,44.2845454347508 c -58.38567700739514,-1.0155478464360146 -97.56430912090963,-41.19948268309335 -90.83966631935161,-57.745356801571674 c -11.799820752914803,-0.8669935586849709 -15.64558390909053,-12.766704263708233 -14.651806949652514,-18.685824246340335 c 1.9350476619985093,-11.5296056260573 11.779330506328451,-17.624173345085033 30.00540484488754,-15.498310261751133 Z","style":{"fill":"rgb(251, 203, 157)","stroke":"none","stroke-width":0,"opacity":1}},"c09d4f0c.abdfc":{"id":"c09d4f0c.abdfc","label":"path:c09d4f0c.abdfc","type":"path","d":"M 18.315719167374375,189.15699200230964 c -11.62565365693082,-18.790836760095385 -18.315719167374375,-40.803764795894445 -18.315719167374375,-64.32784851743688 c 0,-68.89461222536983 57.382935565075584,-124.82914348487274 128.06404116469287,-124.82914348487274 c 70.6811055996173,0 128.06404116469287,55.934531259502904 128.06404116469287,124.82914348487274 c 0,38.36542545211869 -17.794498519834075,72.71220129248933 -45.77008831226123,95.61773569520629 c 0.8132066613957999,-1.007864003966133 1.616168199498424,-2.0413408161652047 2.4050426930729323,-3.0991497961855674 c 1.5943973125004265,-2.136108206627077 3.036398416014868,-16.35505869714293 3.036398416014868,-16.35505869714293 c 9.72774456687007,1.6020811549703078 18.62307286616964,-10.525583543326107 17.923843201410417,-15.792857556429926 c -1.8428415523599306,-13.89494846636918 -11.66407286928023,-19.071297010246063 -24.003043235498385,-15.497029621339486 c 3.3194199469888397,-80.16296720745115 -35.690167632188256,-68.84594788972724 -66.37815381648362,-68.96632808842206 c -68.39900438606246,-0.2676538460342081 -91.12396849073721,22.338210700357383 -95.00687021885071,68.96632808842206 c -18.22607433855909,-2.125863083333902 -28.07163782330068,3.9687046356938325 -30.00540484488754,15.497029621339486 c -0.1920960617470393,1.1384893259541198 -0.20362182545186167,2.498529443123158 -0.014087044528116216,3.95717887198901 Z m 9.714938162753603,13.583752846338973 c 1.4650526309240863,0.6070235551206442 3.1119562003020373,1.0104252847894268 4.950955831427026,1.1461731684240013 c -0.46103054819289435,1.1346474047191788 -0.7069135072291047,2.3807105252516405 -0.7440520791668656,3.7189797554226813 c -1.4432817439260888,-1.585432829618898 -2.8455829946794755,-3.2080042311755563 -4.206903752260161,-4.865152923846682 Z","style":{"fill":"rgb(69, 69, 69)","stroke":"none","stroke-width":0,"opacity":1}},"1ee7ce72.d2f612":{"id":"1ee7ce72.d2f612","label":"path:1ee7ce72.d2f612","type":"path","d":"M 112.310883461024,220.41998573143442 c 11.880501098848557,11.350315968426731 24.677940732436316,11.59619892746294 38.455070280933974,0","style":{"fill":"none","stroke":"rgb(13, 6, 0)","stroke-width":"2px","opacity":1}},"ea2f69d.d059f98":{"id":"ea2f69d.d059f98","label":"path:ea2f69d.d059f98","type":"path","d":"M 7.084502757230811,85.80162693993258 l 82.89329256508242,59.725226877977825 c -14.020451226710577,7.928444788506136 -27.727145552567656,16.037459875054488 -41.02147366587442,24.379551516522582 c -18.22607433855909,-2.125863083333902 -28.070357182889033,3.9687046356938325 -30.00540484488754,15.497029621339486 c -0.11269635622492973,0.6684942948796969 -0.16264133227915994,1.4138270144582095 -0.14727364733939682,2.211665990914246 c 0,-0.6941071031126355 0.05122561646587715,-1.3446724322292753 0.14983492816269067,-1.9363283024101563 c 1.9350476619985093,-11.528324985645654 11.779330506328451,-17.622892704673387 30.00668548529919,-15.497029621339486 c 13.360921414712408,-8.384352775052442 27.138050963210066,-16.531787073950206 41.232779333796174,-24.499931715217397 l 114.41113373612498,82.43482329771281 c -29.190917543080097,29.970827553773074 -68.861315574667,34.190537710149705 -80.15912528621622,33.99331908675608 c -58.38567700739514,-1.0142672060243676 -97.56430912090963,-41.1982020426817 -90.83966631935161,-57.745356801571674 l -0.1062931541666951,-0.007683842469881573 c -0.39443724678725406,1.061650901255304 -0.6057429147089973,2.2180691929724805 -0.6403202058234644,3.4526065498001204 c -1.3241821856429243,-1.4560881480425583 -2.6137870801713814,-2.9416310255529954 -3.868814683585372,-4.456628632531312 c -6.494127527461576,-2.5049326451813925 -9.533087224299738,-8.96064096029356 -10.090165803366151,-14.05246723700175 c -11.602602129521177,-18.778030355978917 -18.278580595436615,-40.76918750477998 -18.278580595436615,-64.26765841808947 c 0,-13.702852404622138 2.2705754498500044,-26.892168004173854 6.46339215758205,-39.23113837039202 Z","style":{"fill":"rgb(255, 255, 255)","stroke":"none","stroke-width":0,"opacity":"0.2"}},"584da4bf.64a89c":{"id":"584da4bf.64a89c","label":"neutralface","type":"group","x":511,"y":362,"width":256,"height":262.2564321857077,"children":["788dd134.cd6bf"],"style":{"fill":"none","stroke":"none","opacity":1,"stroke-width":0}},"788dd134.cd6bf":{"id":"788dd134.cd6bf","type":"group","label":"group:788dd134.cd6bf","x":0,"y":0,"width":256,"height":262.2564321857077,"style":{"fill":"","stroke":"","stroke-width":0,"opacity":1},"children":["d4cc335a.d7bca","582e09eb.722528","ab32a34c.20ad8","a39bcee7.377a3"]},"d4cc335a.d7bca":{"id":"d4cc335a.d7bca","label":"path:d4cc335a.d7bca","type":"path","d":"M 48.33777233761332,169.97812119748525 c -19.653988397545415,-49.381494273105574 42.943714923756474,-67.04408683054001 88.51658461262407,-62.85639268445456 c 24.86619487294842,11.286283947844383 91.16879090514486,5.9152780613971645 72.86843942271024,62.85639268445456 c 12.338970366218158,-3.5742673889065784 22.160201683138453,1.6020811549703078 24.003043235498385,15.498310261751133 c 0.6992296647592232,5.265993372692171 -8.194817994128698,17.393658070988586 -17.923843201410417,15.791576916018277 c 0,0 -1.4420011035144416,14.21895049051585 -3.036398416014868,16.35505869714293 c -29.352278234947608,39.328467041677186 -76.46063577737988,44.50097366431913 -88.94175722929086,44.2845454347508 c -58.38567700739514,-1.0155478464360146 -97.56430912090963,-41.19948268309335 -90.83966631935161,-57.745356801571674 c -11.799820752914803,-0.8669935586849709 -15.64558390909053,-12.766704263708233 -14.651806949652514,-18.685824246340335 c 1.9350476619985093,-11.5296056260573 11.779330506328451,-17.624173345085033 30.00540484488754,-15.498310261751133 Z","style":{"fill":"rgb(251, 203, 157)","stroke":"none","stroke-width":0,"opacity":1}},"582e09eb.722528":{"id":"582e09eb.722528","label":"path:582e09eb.722528","type":"path","d":"M 18.315719167374375,189.15699200230964 c -11.62565365693082,-18.790836760095385 -18.315719167374375,-40.803764795894445 -18.315719167374375,-64.32784851743688 c 0,-68.89461222536983 57.382935565075584,-124.82914348487274 128.06404116469287,-124.82914348487274 c 70.6811055996173,0 128.06404116469287,55.934531259502904 128.06404116469287,124.82914348487274 c 0,38.36542545211869 -17.794498519834075,72.71220129248933 -45.77008831226123,95.61773569520629 c 0.8132066613957999,-1.007864003966133 1.616168199498424,-2.0413408161652047 2.4050426930729323,-3.0991497961855674 c 1.5943973125004265,-2.136108206627077 3.036398416014868,-16.35505869714293 3.036398416014868,-16.35505869714293 c 9.72774456687007,1.6020811549703078 18.62307286616964,-10.525583543326107 17.923843201410417,-15.792857556429926 c -1.8428415523599306,-13.89494846636918 -11.66407286928023,-19.071297010246063 -24.003043235498385,-15.497029621339486 c -3.5806705909648127,-64.84522724374223 -64.91694310679446,-44.90181411316461 -81.65619392743147,-44.87364002410838 c -64.09221068169384,0.11013507540163586 -81.29761461217034,6.106093482732556 -79.72883010790284,44.87364002410838 c -18.22607433855909,-2.125863083333902 -28.07163782330068,3.9687046356938325 -30.00540484488754,15.497029621339486 c -0.1920960617470393,1.1384893259541198 -0.20362182545186167,2.498529443123158 -0.014087044528116216,3.95717887198901 Z m 9.714938162753603,13.583752846338973 c 1.4650526309240863,0.6070235551206442 3.1119562003020373,1.0104252847894268 4.950955831427026,1.1461731684240013 c -0.46103054819289435,1.1346474047191788 -0.7069135072291047,2.3807105252516405 -0.7440520791668656,3.7189797554226813 c -1.4432817439260888,-1.585432829618898 -2.8455829946794755,-3.2080042311755563 -4.206903752260161,-4.865152923846682 Z","style":{"fill":"rgb(69, 69, 69)","stroke":"none","stroke-width":0,"opacity":1}},"ab32a34c.20ad8":{"id":"ab32a34c.20ad8","label":"path:ab32a34c.20ad8","type":"path","d":"M 106.35206362563086,220.41998573143442 c 17.061972204372033,0.5429915345382977 35.440442751917104,0.5545172982431201 55.22633711186216,0","style":{"fill":"none","stroke":"rgb(13, 6, 0)","stroke-width":"2px","opacity":1}},"a39bcee7.377a3":{"id":"a39bcee7.377a3","label":"path:a39bcee7.377a3","type":"path","d":"M 6.637559253566032,86.09489359419972 l 82.89329256508242,59.72650751838946 c -14.020451226710577,7.928444788506136 -27.72586491215601,16.037459875054488 -41.02019302546278,24.37827087611094 c -18.227354978970737,-2.124582442922255 -28.07163782330068,3.9687046356938325 -30.00668548529919,15.498310261751133 c -0.1114157158132828,0.6684942948796969 -0.16264133227915994,1.4138270144582095 -0.14599300692774989,2.211665990914246 c -0.001280640411646929,-0.6941071031126355 0.04994497605423022,-1.3446724322292753 0.14855428775104373,-1.9363283024101563 c 1.9350476619985093,-11.528324985645654 11.780611146740098,-17.622892704673387 30.00668548529919,-15.497029621339486 c 13.360921414712408,-8.384352775052442 27.138050963210066,-16.533067714361852 41.23405997420781,-24.499931715217397 l 114.40985309571332,82.43354265730117 c -29.18963690266845,29.97210819418472 -68.861315574667,34.190537710149705 -80.15784464580456,33.994599727167724 c -58.38567700739514,-1.0155478464360146 -97.56558976132128,-41.1982020426817 -90.83966631935161,-57.745356801571674 l -0.1062931541666951,-0.008964482881528502 c -0.395717887198901,1.062931541666951 -0.6070235551206442,2.2193498333841277 -0.6416008462351113,3.453887190211767 c -1.3241821856429243,-1.4560881480425583 -2.6137870801713814,-2.9416310255529954 -3.867534043173725,-4.456628632531312 c -6.494127527461576,-2.5049326451813925 -9.534367864711385,-8.96064096029356 -10.091446443777798,-14.053747877413397 c -11.602602129521177,-18.77674971556727 -18.27729995502497,-40.76790686436833 -18.27729995502497,-64.26637777767783 c 0,-13.702852404622138 2.2692948094383576,-26.893448644585504 6.462111517170403,-39.23241901080367 Z","style":{"fill":"rgb(255, 255, 255)","stroke":"none","stroke-width":0,"opacity":"0.2"}},"28ef53f6.ea6d8c":{"id":"28ef53f6.ea6d8c","label":"negativeface","type":"group","x":86,"y":366,"width":256,"height":261.66859456916757,"children":["ca3fa5d4.ab0998"],"style":{"fill":"none","stroke":"none","opacity":1,"stroke-width":0}},"ca3fa5d4.ab0998":{"id":"ca3fa5d4.ab0998","type":"group","label":"group:ca3fa5d4.ab0998","x":0,"y":0,"width":256,"height":261.66859456916757,"style":{"fill":"","stroke":"","stroke-width":0,"opacity":1},"children":["9879d445.a315e8","a9aa45bf.6a7c88","cff04792.19e9e8","ffa0febc.e7139"]},"9879d445.a315e8":{"id":"9879d445.a315e8","label":"path:9879d445.a315e8","type":"path","d":"M 48.420691443527,169.8917937187489 c -4.96717695262056,-14.370110792036067 -12.298212800455737,-32.10929674837856 0,-39.140688510904845 c 19.275822291259928,-11.020243581916088 74.54991178851861,-24.349283257045602 94.06903483280708,-21.132591195951797 c 41.428996119652695,6.8290679784288315 63.70125926400162,-0.509651051080944 67.23424230403256,60.27327970685668 c 12.332787117991383,-3.5726794786829985 22.1493322375555,1.6006628488723118 23.992015309177294,15.490574786246693 c 0.6978890021083278,5.262979447092161 -8.191552195388944,17.384479069032405 -17.915899134858005,15.7838162201601 c 0,0 -1.4405965639850802,14.211325037427931 -3.0348567614619033,16.347249542963144 c -29.33694869413174,39.308437977466674 -76.42204705655968,44.47793871418468 -88.89697303553088,44.26152909701716 c -58.35504534876807,-1.0154605113245945 -97.51494181385945,-41.178012184949566 -90.79343837887481,-57.716060739498275 c -11.793683870491193,-0.8669189989492445 -15.63783576834294,-12.76048423121006 -14.644144271763004,-18.67653412064212 c 1.9336007214377535,-11.52349198160155 11.773195386025632,-17.614974519270014 29.990019136471638,-15.490574786246693 Z","style":{"fill":"rgb(251, 203, 157)","stroke":"none","stroke-width":0,"opacity":1}},"a9aa45bf.6a7c88":{"id":"a9aa45bf.6a7c88","label":"path:a9aa45bf.6a7c88","type":"path","d":"M 18.41402541342709,189.0613319968437 c -11.619531752533888,-18.781537603528147 -18.30646086998284,-40.78360885898738 -18.30646086998284,-64.29542531350305 c 0,-68.86051575848683 57.35495120079268,-124.76590668334076 127.99924563806289,-124.76590668334076 c 70.6442944372701,0 127.99924563806289,55.90539092485391 127.99924563806289,124.76590668334076 c 0,38.34675973786419 -17.78528504639002,72.67521545991939 -45.746944220770665,95.56981631990975 c 0.8131367272271339,-1.0077773296500074 1.6147486819423875,-2.0411652648819723 2.403555333866662,-3.0976027451376966 c 1.5942601974768225,-2.1359245055352125 3.0348567614619033,-16.347249542963144 3.0348567614619033,-16.347249542963144 c 9.723066409189963,1.6006628488723118 18.613788136966328,-10.520836773067929 17.915899134858005,-15.7838162201601 c -1.8426830716218057,-13.889911937374372 -11.659228191185914,-19.063254264929686 -23.992015309177294,-15.490574786246693 c -0.8553942264373632,-53.36609938140287 -32.06191712805197,-69.34071461314849 -81.61459733830144,-26.889855330775735 c -57.91198187220022,-43.48552774788387 -79.04585359843118,-6.907180325453799 -79.68867979853829,26.889855330775735 c -18.216823750446004,-2.1243997330233317 -28.056418415033882,3.9670828046451367 -29.990019136471638,15.490574786246693 c -0.1907990115855796,1.137110887838891 -0.20360431437655804,2.4957535139617084 -0.014085833070076343,3.9542775018541585 Z m 9.710261106398983,13.5774625492745 c 1.4649266392879385,0.605690822013283 3.1091275176495774,1.0090578599291051 4.94796899843409,1.144794069513477 c -0.4609909004752258,1.134549827280695 -0.7068527140620129,2.3805057888429024 -0.7439880921558504,3.717379400221055 c -1.4418770942641783,-1.585296485523138 -2.8440577498763226,-3.2064478188610144 -4.203980906278242,-4.8621734697345325 Z","style":{"fill":"rgb(69, 69, 69)","stroke":"none","stroke-width":0,"opacity":1}},"cff04792.19e9e8":{"id":"cff04792.19e9e8","label":"path:cff04792.19e9e8","type":"path","d":"M 109.54168219514644,227.7243827136451 c 11.874357278074358,-11.342937212248744 24.666854766261867,-11.590079556114638 38.43639685740105,0","style":{"fill":"none","stroke":"rgb(13, 6, 0)","stroke-width":"2px","opacity":1}},"ffa0febc.e7139":{"id":"ffa0febc.e7139","label":"path:ffa0febc.e7139","type":"path","d":"M 6.460275258048648,85.56759430987647 l 82.85030905763088,59.69448002070444 c -14.012842844167762,7.925201897336593 -27.71195576995655,16.029678033746876 -41.00001847615495,24.367210680952965 c -18.216823750446004,-2.1243997330233317 -28.056418415033882,3.9670828046451367 -29.990019136471638,15.489294255967586 c -0.11268666456061074,0.669717335968175 -0.16262734544542687,1.4137054281240258 -0.14726098209625252,2.2101952617228897 c 0,-0.6927668809919368 0.049940680884816145,-1.3432762627736434 0.14982204265444843,-1.9336007214377535 c 1.9336007214377535,-11.52349198160155 11.773195386025632,-17.614974519270014 29.990019136471638,-15.490574786246693 c 13.355930810990566,-8.379790146416328 27.125472902129733,-16.523962721478654 41.213867032764284,-24.487580527188157 l 114.35263445371706,82.39315974799297 c -29.1756018789654,29.956725349215095 -68.82722197123034,34.1735115582843 -80.11893797231512,33.97630989530324 c -58.35504534876807,-1.0141799810454968 -97.51494181385945,-41.176731654670434 -90.79343837887481,-57.71478020921918 l -0.10628401316512151,-0.008963711953684953 c -0.3944033259621374,1.0615596013721171 -0.605690822013283,2.2178784433974745 -0.6402651395489241,3.4510291021687047 c -1.3227877783080775,-1.4546823970551568 -2.612281769359611,-2.9400975208086617 -3.865920912596406,-4.453684310702322 c -6.491007984746999,-2.504717225915392 -9.529706337046202,-8.95602877201036 -10.086737008453762,-14.046136631424314 c -11.595201677231021,-18.768732300737152 -18.268044961609927,-40.747754011172646 -18.268044961609927,-64.23524039038543 c 0,-13.695271334951496 2.26909965456139,-26.878330558263844 6.460275258048648,-39.21111767625526 Z","style":{"fill":"rgb(255, 255, 255)","stroke":"none","stroke-width":0,"opacity":"0.2"}},"8b6fb6b6.cedc68":{"id":"8b6fb6b6.cedc68","label":"circle:8b6fb6b6.cedc68","type":"circle","cx":177,"cy":530,"r":"30","style":{"fill":"white","stroke":"none","stroke-width":1,"opacity":1}},"3b4cbc.7118f344":{"id":"3b4cbc.7118f344","label":"circle:3b4cbc.7118f344","type":"circle","cx":257,"cy":528,"r":"30","style":{"fill":"white","stroke":"none","stroke-width":1,"opacity":1}},"95ab0bb4.232338":{"id":"95ab0bb4.232338","label":"circle:95ab0bb4.232338","type":"circle","cx":602,"cy":528,"r":"30","style":{"fill":"white","stroke":"none","stroke-width":1,"opacity":1}},"876487ae.53a8e8":{"id":"876487ae.53a8e8","label":"circle:876487ae.53a8e8","type":"circle","cx":680,"cy":527,"r":"30","style":{"fill":"white","stroke":"none","stroke-width":1,"opacity":1}},"f925e59a.7b7de8":{"id":"f925e59a.7b7de8","label":"circle:f925e59a.7b7de8","type":"circle","cx":1029,"cy":523,"r":"30","style":{"fill":"white","stroke":"none","stroke-width":1,"opacity":1}},"d4230d13.8fbd7":{"id":"d4230d13.8fbd7","label":"circle:d4230d13.8fbd7","type":"circle","cx":1105,"cy":524,"r":"30","style":{"fill":"white","stroke":"none","stroke-width":1,"opacity":1}},"ff18f83e.457b08":{"id":"ff18f83e.457b08","label":"circle:ff18f83e.457b08","type":"circle","cx":178,"cy":530,"r":"12","style":{"fill":"black","stroke":"black","stroke-width":1,"opacity":1}},"15da441c.f9ccac":{"id":"15da441c.f9ccac","label":"circle:15da441c.f9ccac","type":"circle","cx":258,"cy":528,"r":"12","style":{"fill":"black","stroke":"black","stroke-width":1,"opacity":1}},"854926d8.4c2fe8":{"id":"854926d8.4c2fe8","label":"circle:854926d8.4c2fe8","type":"circle","cx":602,"cy":527,"r":"12","style":{"fill":"black","stroke":"black","stroke-width":1,"opacity":1}},"74d3de0a.76536":{"id":"74d3de0a.76536","label":"circle:74d3de0a.76536","type":"circle","cx":681,"cy":528,"r":"12","style":{"fill":"black","stroke":"black","stroke-width":1,"opacity":1}},"abfe7988.34ff48":{"id":"abfe7988.34ff48","label":"circle:abfe7988.34ff48","type":"circle","cx":1029,"cy":523,"r":"12","style":{"fill":"black","stroke":"black","stroke-width":1,"opacity":1}},"38440c01.ebabc4":{"id":"38440c01.ebabc4","label":"circle:38440c01.ebabc4","type":"circle","cx":1107,"cy":524,"r":"12","style":{"fill":"black","stroke":"black","stroke-width":1,"opacity":1}},"7b0cecb.c59ec14":{"id":"7b0cecb.c59ec14","label":"negativepercentcircle","type":"circle","cx":116,"cy":397,"r":50,"style":{"fill":"#D8524F","stroke":"white","stroke-width":"3","opacity":"0.8"}},"7d81c9b9.e23ff8":{"id":"7d81c9b9.e23ff8","label":"circle:7d81c9b9.e23ff8","type":"circle","cx":549,"cy":399,"r":50,"style":{"fill":"#92D5CE","stroke":"white","stroke-width":"3","opacity":"0.8"}},"9da151c4.76299":{"id":"9da151c4.76299","label":"circle:9da151c4.76299","type":"circle","cx":974,"cy":403,"r":50,"style":{"fill":"#91CF8E","stroke":"white","stroke-width":"3","opacity":"0.8"}},"a9f6d2.e783493":{"id":"a9f6d2.e783493","label":"pointercircle","type":"circle","cx":1141,"cy":136,"r":92.63368717696602,"style":{"fill":"#454545","stroke":"white","stroke-width":"3","opacity":1}},"450677eb.3dd028":{"id":"450677eb.3dd028","label":"group:450677eb.3dd028","type":"group","x":"1095","y":"76","width":100,"height":114.93310703795987,"children":["b2fcfd84.d8f83","2cd56aa.fe1df96","bfd74d2b.b74f6","8afbb762.a72a78","818c4661.e0b4b8","bc57cc7a.ae452"],"style":{"fill":"none","stroke":"none","opacity":1,"stroke-width":0}},"b2fcfd84.d8f83":{"id":"b2fcfd84.d8f83","label":"path:b2fcfd84.d8f83","type":"path","d":"M 23.71802931106252,44.14908801629426 l 2.9880105313769008,0 l -6.058712147177218,66.99727072774891 l -3.2933314584787454,0 l 6.364033074279062,-66.99727072774891 Z","style":{"fill":"rgb(115, 112, 112)","stroke":"none","stroke-width":0,"opacity":1}},"2cd56aa.fe1df96":{"id":"2cd56aa.fe1df96","label":"path:2cd56aa.fe1df96","type":"path","d":"M 26.434113391739345,44.15385865578021 c 8.211860768510013,-1.0018342920529257 14.58384490859902,-8.560117450985555 15.803538403844408,-18.378093513104226 c 0.5947397225838004,-4.792902470234155 -0.6647091017113063,-15.949838014747373 1.0336385552927012,-22.186654036067335 c 0.9986538657289483,-3.6654413383841176 5.6532077908700815,-3.587520893446667 7.4883137798051225,-3.5255025801291056 c 2.7049525885428993,0.09064215023335995 7.116203899899749,0.84122276269206 8.754123456748186,3.5255025801291056 c 4.532107511667998,7.432656319135517 0.12085620031114659,38.58175173617156 -1.8844025969566938,38.526094275501954 c 0,0 29.792643589859622,-1.4725373880016022 36.896125784463464,0 c 3.436450643057734,0.7124154965709695 5.708865251539688,5.740669514779463 5.726357596321564,8.836814541171602 c 0.046116181697674355,8.280239934475532 -8.014674336423406,9.810024996308728 -9.402930426839603,9.372716376761815 c -2.994371384024856,-0.9461768313833188 3.2408544241331154,3.0627505499903727 3.6765728305180385,8.25479652388371 c 0.7378589071627897,8.792288572635915 -8.106906699818754,9.220055913210896 -8.620545551141129,9.089658433927815 c -1.7174302149478726,-0.43412819322293456 4.355593850687244,6.338589663687242 3.0675211894763392,10.687822661726528 c -2.1181639317690433,7.1607298684354355 -7.699812130349628,4.625930088225335 -8.822502622713701,5.855164862442654 c -1.062262392208499,1.1656262477377692 6.068253426149149,1.2817118085629495 3.3951051008460253,9.503113856044896 c -0.8777976654178017,2.7017721622189224 -2.2119865083263806,6.7409135936704 -5.988742768049712,7.3451945952261335 c -10.53357198501362,1.6872161648700863 -57.5959305140713,0 -57.5959305140713,0 l 6.473757782456286,-66.90662857751555","style":{"fill":"rgb(140, 140, 140)","stroke":"none","stroke-width":0,"opacity":1}},"bfd74d2b.b74f6":{"id":"bfd74d2b.b74f6","label":"path:bfd74d2b.b74f6","type":"path","d":"M 49.68462003317717,12.188983886643928 l -7.392900990085796,0 c 0,0 -0.09859321604330382,-6.904705549355244 1.3357790560705676,-9.402930426839603 c 1.8223842836391313,-3.1740654713295866 6.057121934015229,-2.770151328184439 6.057121934015229,-2.770151328184439 l 0,12.173081755024043 Z","style":{"fill":"rgb(163, 163, 163)","stroke":"none","stroke-width":0,"opacity":1}},"8afbb762.a72a78":{"id":"8afbb762.a72a78","label":"sleeve","type":"path","d":"M 0,39.24009998523491 l 24.5990074028043,0 l -7.1114332604137855,77.05854940365187 l -17.487574142390518,0 l 0,-77.05854940365187 Z","style":{"fill":"none","stroke":"none","stroke-width":0,"opacity":1}},"818c4661.e0b4b8":{"id":"818c4661.e0b4b8","label":"circle:818c4661.e0b4b8","type":"circle","cx":10.04378630685635,"cy":101.2154747812444,"r":6.2972441821373515,"style":{"fill":"white","stroke":"none","stroke-width":0,"opacity":1}},"bc57cc7a.ae452":{"id":"bc57cc7a.ae452","label":"path:bc57cc7a.ae452","type":"path","d":"M 10.207578286805921,94.91982363910975 l 0.1606115293608659,0.006360852647955084 l 0.1606115293608659,0.009541278971932628 l 0.1590213161988771,0.014311918457898939 l 0.15743110303688834,0.019082557943865257 l 0.15743110303688834,0.022262984267842796 l 0.15584088987489958,0.025443410591820335 l 0.1542506767129108,0.028623836915797878 l 0.15266046355092205,0.0333944764017642 l 0.15266046355092205,0.038165115887730514 l 0.14948003722694447,0.039755329049719276 l 0.1478898240649557,0.04452596853568559 l 0.1478898240649557,0.04770639485966313 l 0.14470939774097816,0.05088682118364067 l 0.14470939774097816,0.05565746066960699 l 0.14152897141700063,0.057247673831595756 l 0.13993875825501184,0.062018313317562065 l 0.13993875825501184,0.06519873964153962 l 0.13675833193103432,0.0667889528035284 l 0.1335779056070568,0.0715595922894947 l 0.1335779056070568,0.07474001861347224 l 0.13039747928307924,0.07792044493744979 l 0.12880726612109045,0.07951065809943855 l 0.12721705295910168,0.08428129758540487 l 0.12403662663512413,0.08587151074739363 l 0.12244641347313537,0.08905193707137118 l 0.12085620031114659,0.09223236339534871 l 0.11767577398716905,0.09541278971932626 l 0.11449534766319151,0.09700300288131503 l 0.11290513450120274,0.10018342920529257 l 0.11131492133921397,0.10336385552927013 l 0.10813449501523645,0.1049540686912589 l 0.1049540686912589,0.10813449501523645 l 0.10336385552927013,0.11131492133921397 l 0.10018342920529257,0.11290513450120274 l 0.09859321604330382,0.11608556082518028 l 0.09382257655733749,0.11767577398716905 l 0.09223236339534871,0.11926598714915783 l 0.08905193707137118,0.12244641347313537 l 0.08746172390938242,0.12403662663512413 l 0.08269108442341608,0.12721705295910168 l 0.08110087126142732,0.12880726612109045 l 0.07633023177546103,0.13039747928307924 l 0.07474001861347224,0.1335779056070568 l 0.0715595922894947,0.13516811876904555 l 0.06837916596551716,0.13675833193103432 l 0.06360852647955084,0.13834854509302308 l 0.062018313317562065,0.13993875825501184 l 0.058837886993584526,0.14152897141700063 l 0.054067247507618224,0.14470939774097816 l 0.05088682118364067,0.14470939774097816 l 0.04770639485966313,0.1478898240649557 l 0.04452596853568559,0.1478898240649557 l 0.04134554221170804,0.15107025038893324 l 0.03657490272574173,0.15107025038893324 l 0.0333944764017642,0.15266046355092205 l 0.030214050077786648,0.1542506767129108 l 0.025443410591820335,0.15584088987489958 l 0.022262984267842796,0.15743110303688834 l 0.01749234478187648,0.15743110303688834 l 0.014311918457898939,0.1590213161988771 l 0.009541278971932628,0.1606115293608659 l 0.006360852647955084,0.16220174252285463 l 0.001590213161988771,0.16220174252285463 l -0.001590213161988771,0.16220174252285463 l -0.006360852647955084,0.16220174252285463 l -0.009541278971932628,0.1590213161988771 l -0.014311918457898939,0.1606115293608659 l -0.01749234478187648,0.15743110303688834 l -0.022262984267842796,0.15743110303688834 l -0.025443410591820335,0.1542506767129108 l -0.030214050077786648,0.15584088987489958 l -0.0333944764017642,0.15266046355092205 l -0.03657490272574173,0.15107025038893324 l -0.04134554221170804,0.14948003722694447 l -0.04452596853568559,0.14948003722694447 l -0.04770639485966313,0.14629961090296692 l -0.05088682118364067,0.14629961090296692 l -0.054067247507618224,0.1431191845789894 l -0.058837886993584526,0.1431191845789894 l -0.062018313317562065,0.13993875825501184 l -0.06360852647955084,0.13834854509302308 l -0.06837916596551716,0.13675833193103432 l -0.0715595922894947,0.13516811876904555 l -0.07474001861347224,0.131987692445068 l -0.07633023177546103,0.131987692445068 l -0.08110087126142732,0.12880726612109045 l -0.08269108442341608,0.12562683979711292 l -0.08746172390938242,0.12562683979711292 l -0.08905193707137118,0.12244641347313537 l -0.09223236339534871,0.11926598714915783 l -0.09382257655733749,0.11767577398716905 l -0.09859321604330382,0.11608556082518028 l -0.10018342920529257,0.11290513450120274 l -0.10336385552927013,0.10972470817722521 l -0.1049540686912589,0.10813449501523645 l -0.10813449501523645,0.10654428185324766 l -0.11131492133921397,0.10336385552927013 l -0.11290513450120274,0.10018342920529257 l -0.11449534766319151,0.09700300288131503 l -0.11767577398716905,0.09541278971932626 l -0.12085620031114659,0.09223236339534871 l -0.12244641347313537,0.08905193707137118 l -0.12403662663512413,0.08587151074739363 l -0.12721705295910168,0.08428129758540487 l -0.12880726612109045,0.07951065809943855 l -0.13039747928307924,0.07792044493744979 l -0.1335779056070568,0.07474001861347224 l -0.1335779056070568,0.06996937912750592 l -0.13675833193103432,0.06837916596551716 l -0.13993875825501184,0.06519873964153962 l -0.13993875825501184,0.060428100155573296 l -0.14152897141700063,0.058837886993584526 l -0.14470939774097816,0.054067247507618224 l -0.14470939774097816,0.05247703434562945 l -0.1478898240649557,0.04770639485966313 l -0.1478898240649557,0.04452596853568559 l -0.14948003722694447,0.039755329049719276 l -0.15266046355092205,0.03657490272574173 l -0.15266046355092205,0.0333944764017642 l -0.1542506767129108,0.030214050077786648 l -0.15584088987489958,0.025443410591820335 l -0.15743110303688834,0.022262984267842796 l -0.15743110303688834,0.01749234478187648 l -0.1590213161988771,0.014311918457898939 l -0.1606115293608659,0.011131492133921398 l -0.1606115293608659,0.006360852647955084 l -0.16379195568484342,0.001590213161988771 l -0.16220174252285463,-0.001590213161988771 l -0.1606115293608659,-0.006360852647955084 l -0.1606115293608659,-0.011131492133921398 l -0.1590213161988771,-0.014311918457898939 l -0.1590213161988771,-0.01749234478187648 l -0.15584088987489958,-0.022262984267842796 l -0.15584088987489958,-0.025443410591820335 l -0.1542506767129108,-0.030214050077786648 l -0.15266046355092205,-0.0333944764017642 l -0.15266046355092205,-0.03657490272574173 l -0.14948003722694447,-0.039755329049719276 l -0.14948003722694447,-0.04452596853568559 l -0.14629961090296692,-0.04770639485966313 l -0.14629961090296692,-0.05247703434562945 l -0.1431191845789894,-0.054067247507618224 l -0.14152897141700063,-0.058837886993584526 l -0.14152897141700063,-0.060428100155573296 l -0.13834854509302308,-0.06519873964153962 l -0.13675833193103432,-0.06837916596551716 l -0.13516811876904555,-0.06996937912750592 l -0.131987692445068,-0.07474001861347224 l -0.13039747928307924,-0.07792044493744979 l -0.12880726612109045,-0.07951065809943855 l -0.12721705295910168,-0.08428129758540487 l -0.12403662663512413,-0.08587151074739363 l -0.12244641347313537,-0.08905193707137118 l -0.12085620031114659,-0.09223236339534871 l -0.11767577398716905,-0.09541278971932626 l -0.11608556082518028,-0.09700300288131503 l -0.11290513450120274,-0.10018342920529257 l -0.10972470817722521,-0.10336385552927013 l -0.10813449501523645,-0.10654428185324766 l -0.10654428185324766,-0.10813449501523645 l -0.10177364236728134,-0.10972470817722521 l -0.10018342920529257,-0.11290513450120274 l -0.09859321604330382,-0.11608556082518028 l -0.09541278971932626,-0.11767577398716905 l -0.09064215023335995,-0.11926598714915783 l -0.09064215023335995,-0.12244641347313537 l -0.08587151074739363,-0.12562683979711292 l -0.08269108442341608,-0.12562683979711292 l -0.08110087126142732,-0.12880726612109045 l -0.07792044493744979,-0.131987692445068 l -0.07314980545148346,-0.131987692445068 l -0.0715595922894947,-0.13516811876904555 l -0.06837916596551716,-0.13675833193103432 l -0.06519873964153962,-0.13834854509302308 l -0.060428100155573296,-0.13993875825501184 l -0.058837886993584526,-0.1431191845789894 l -0.054067247507618224,-0.1431191845789894 l -0.05088682118364067,-0.14629961090296692 l -0.04770639485966313,-0.14629961090296692 l -0.04452596853568559,-0.14948003722694447 l -0.04134554221170804,-0.14948003722694447 l -0.03657490272574173,-0.15107025038893324 l -0.0333944764017642,-0.15266046355092205 l -0.030214050077786648,-0.15584088987489958 l -0.025443410591820335,-0.1542506767129108 l -0.022262984267842796,-0.15743110303688834 l -0.01749234478187648,-0.15743110303688834 l -0.014311918457898939,-0.1606115293608659 l -0.009541278971932628,-0.1590213161988771 l -0.006360852647955084,-0.16220174252285463 l -0.003180426323977542,-0.16220174252285463 l 0.003180426323977542,-0.16220174252285463 l 0.006360852647955084,-0.16220174252285463 l 0.009541278971932628,-0.1606115293608659 l 0.014311918457898939,-0.1590213161988771 l 0.01749234478187648,-0.15743110303688834 l 0.022262984267842796,-0.15743110303688834 l 0.025443410591820335,-0.15584088987489958 l 0.030214050077786648,-0.1542506767129108 l 0.0333944764017642,-0.15266046355092205 l 0.03657490272574173,-0.15107025038893324 l 0.04134554221170804,-0.15107025038893324 l 0.04452596853568559,-0.1478898240649557 l 0.04770639485966313,-0.1478898240649557 l 0.05088682118364067,-0.14470939774097816 l 0.054067247507618224,-0.14470939774097816 l 0.058837886993584526,-0.14152897141700063 l 0.060428100155573296,-0.13993875825501184 l 0.06519873964153962,-0.13834854509302308 l 0.06837916596551716,-0.13675833193103432 l 0.0715595922894947,-0.13516811876904555 l 0.07314980545148346,-0.1335779056070568 l 0.07792044493744979,-0.13039747928307924 l 0.08110087126142732,-0.12880726612109045 l 0.08269108442341608,-0.12721705295910168 l 0.08587151074739363,-0.12403662663512413 l 0.09064215023335995,-0.12244641347313537 l 0.09064215023335995,-0.11926598714915783 l 0.09541278971932626,-0.11767577398716905 l 0.09859321604330382,-0.11608556082518028 l 0.10018342920529257,-0.11290513450120274 l 0.10177364236728134,-0.11131492133921397 l 0.10654428185324766,-0.10813449501523645 l 0.10813449501523645,-0.1049540686912589 l 0.10972470817722521,-0.10336385552927013 l 0.11290513450120274,-0.10018342920529257 l 0.11608556082518028,-0.09700300288131503 l 0.11767577398716905,-0.09541278971932626 l 0.12085620031114659,-0.09223236339534871 l 0.12244641347313537,-0.08905193707137118 l 0.12403662663512413,-0.08587151074739363 l 0.12721705295910168,-0.08428129758540487 l 0.12880726612109045,-0.07951065809943855 l 0.13039747928307924,-0.07792044493744979 l 0.131987692445068,-0.07474001861347224 l 0.13516811876904555,-0.0715595922894947 l 0.13675833193103432,-0.0667889528035284 l 0.13834854509302308,-0.06519873964153962 l 0.14152897141700063,-0.062018313317562065 l 0.14152897141700063,-0.057247673831595756 l 0.1431191845789894,-0.05565746066960699 l 0.14629961090296692,-0.05088682118364067 l 0.14629961090296692,-0.04770639485966313 l 0.14948003722694447,-0.04452596853568559 l 0.14948003722694447,-0.039755329049719276 l 0.15266046355092205,-0.038165115887730514 l 0.15266046355092205,-0.0333944764017642 l 0.1542506767129108,-0.028623836915797878 l 0.15584088987489958,-0.025443410591820335 l 0.15584088987489958,-0.022262984267842796 l 0.1590213161988771,-0.019082557943865257 l 0.1590213161988771,-0.014311918457898939 l 0.1606115293608659,-0.009541278971932628 l 0.1606115293608659,-0.006360852647955084 l 0.16220174252285463,-0.001590213161988771 l 0.16379195568484342,0.001590213161988771 Z m -0.28464815599599,1.5902131619887712 l -0.12085620031114659,0.004770639485966314 l -0.11926598714915783,0.006360852647955084 l -0.11767577398716905,0.011131492133921398 l -0.12244641347313537,0.014311918457898939 l -0.11926598714915783,0.01590213161988771 l -0.11131492133921397,0.019082557943865257 l -0.11767577398716905,0.022262984267842796 l -0.11608556082518028,0.025443410591820335 l -0.10813449501523645,0.027033623753809112 l -0.11449534766319151,0.030214050077786648 l -0.10972470817722521,0.0333944764017642 l -0.10972470817722521,0.03498468956375296 l -0.10972470817722521,0.039755329049719276 l -0.1049540686912589,0.038165115887730514 l -0.10654428185324766,0.04452596853568559 l -0.10654428185324766,0.046116181697674355 l -0.10177364236728134,0.04770639485966313 l -0.10177364236728134,0.05088682118364067 l -0.10177364236728134,0.054067247507618224 l -0.09859321604330382,0.05565746066960699 l -0.09859321604330382,0.057247673831595756 l -0.09700300288131503,0.060428100155573296 l -0.09541278971932626,0.06360852647955084 l -0.09223236339534871,0.06360852647955084 l -0.09064215023335995,0.0667889528035284 l -0.09064215023335995,0.06837916596551716 l -0.08746172390938242,0.06996937912750592 l -0.08746172390938242,0.07474001861347224 l -0.08428129758540487,0.07474001861347224 l -0.08110087126142732,0.07633023177546103 l -0.08428129758540487,0.08269108442341608 l -0.07792044493744979,0.07951065809943855 l -0.07792044493744979,0.08269108442341608 l -0.07474001861347224,0.08428129758540487 l -0.06996937912750592,0.08428129758540487 l -0.07314980545148346,0.09064215023335995 l -0.06996937912750592,0.08905193707137118 l -0.0667889528035284,0.09223236339534871 l -0.06519873964153962,0.09382257655733749 l -0.062018313317562065,0.09382257655733749 l -0.060428100155573296,0.09700300288131503 l -0.057247673831595756,0.09700300288131503 l -0.05565746066960699,0.09859321604330382 l -0.05247703434562945,0.10177364236728134 l -0.05088682118364067,0.10018342920529257 l -0.04770639485966313,0.10336385552927013 l -0.046116181697674355,0.10654428185324766 l -0.042935755373696816,0.1049540686912589 l -0.042935755373696816,0.10972470817722521 l -0.038165115887730514,0.10813449501523645 l -0.03498468956375296,0.10813449501523645 l -0.03180426323977542,0.10813449501523645 l -0.030214050077786648,0.11290513450120274 l -0.028623836915797878,0.11608556082518028 l -0.023853197429831566,0.11290513450120274 l -0.022262984267842796,0.11449534766319151 l -0.019082557943865257,0.11767577398716905 l -0.01749234478187648,0.11767577398716905 l -0.012721705295910168,0.11608556082518028 l -0.011131492133921398,0.11767577398716905 l -0.007951065809943855,0.12244641347313537 l -0.003180426323977542,0.12085620031114659 l -0.001590213161988771,0.12244641347313537 l 0.001590213161988771,0.12244641347313537 l 0.003180426323977542,0.12085620031114659 l 0.007951065809943855,0.12244641347313537 l 0.011131492133921398,0.11767577398716905 l 0.012721705295910168,0.11608556082518028 l 0.01749234478187648,0.11767577398716905 l 0.019082557943865257,0.11608556082518028 l 0.022262984267842796,0.11608556082518028 l 0.023853197429831566,0.11290513450120274 l 0.028623836915797878,0.11608556082518028 l 0.030214050077786648,0.11290513450120274 l 0.03180426323977542,0.10813449501523645 l 0.03498468956375296,0.10654428185324766 l 0.038165115887730514,0.10813449501523645 l 0.042935755373696816,0.10972470817722521 l 0.042935755373696816,0.10654428185324766 l 0.046116181697674355,0.1049540686912589 l 0.04770639485966313,0.1049540686912589 l 0.05088682118364067,0.10018342920529257 l 0.05247703434562945,0.10018342920529257 l 0.05565746066960699,0.10018342920529257 l 0.057247673831595756,0.09541278971932626 l 0.062018313317562065,0.09859321604330382 l 0.060428100155573296,0.09382257655733749 l 0.06519873964153962,0.09382257655733749 l 0.0667889528035284,0.09223236339534871 l 0.06996937912750592,0.08905193707137118 l 0.07314980545148346,0.09064215023335995 l 0.06837916596551716,0.08110087126142732 l 0.07633023177546103,0.08746172390938242 l 0.07951065809943855,0.08428129758540487 l 0.07792044493744979,0.07951065809943855 l 0.08110087126142732,0.07951065809943855 l 0.08110087126142732,0.07633023177546103 l 0.08587151074739363,0.07474001861347224 l 0.08746172390938242,0.07474001861347224 l 0.08746172390938242,0.06996937912750592 l 0.09064215023335995,0.06996937912750592 l 0.09064215023335995,0.0667889528035284 l 0.09382257655733749,0.06519873964153962 l 0.09541278971932626,0.062018313317562065 l 0.09382257655733749,0.058837886993584526 l 0.09700300288131503,0.057247673831595756 l 0.1049540686912589,0.058837886993584526 l 0.09859321604330382,0.05247703434562945 l 0.09859321604330382,0.04929660802165191 l 0.10813449501523645,0.04929660802165191 l 0.10336385552927013,0.046116181697674355 l 0.1049540686912589,0.042935755373696816 l 0.10654428185324766,0.039755329049719276 l 0.10972470817722521,0.038165115887730514 l 0.11131492133921397,0.03657490272574173 l 0.10813449501523645,0.0333944764017642 l 0.11131492133921397,0.028623836915797878 l 0.11449534766319151,0.028623836915797878 l 0.11290513450120274,0.025443410591820335 l 0.11449534766319151,0.022262984267842796 l 0.11767577398716905,0.019082557943865257 l 0.11767577398716905,0.01590213161988771 l 0.11767577398716905,0.014311918457898939 l 0.11767577398716905,0.009541278971932628 l 0.12244641347313537,0.007951065809943855 l 0.12085620031114659,0.004770639485966314 l 0.12244641347313537,0.001590213161988771 l 0.12085620031114659,-0.001590213161988771 l 0.12085620031114659,-0.004770639485966314 l 0.12244641347313537,-0.007951065809943855 l 0.11767577398716905,-0.009541278971932628 l 0.11767577398716905,-0.014311918457898939 l 0.11767577398716905,-0.01590213161988771 l 0.11608556082518028,-0.019082557943865257 l 0.11449534766319151,-0.022262984267842796 l 0.11449534766319151,-0.025443410591820335 l 0.11449534766319151,-0.028623836915797878 l 0.10972470817722521,-0.028623836915797878 l 0.10813449501523645,-0.0333944764017642 l 0.11290513450120274,-0.03657490272574173 l 0.10972470817722521,-0.038165115887730514 l 0.10654428185324766,-0.039755329049719276 l 0.1049540686912589,-0.042935755373696816 l 0.10336385552927013,-0.046116181697674355 l 0.10654428185324766,-0.04929660802165191 l 0.10177364236728134,-0.05088682118364067 l 0.09859321604330382,-0.05247703434562945 l 0.10177364236728134,-0.057247673831595756 l 0.09700300288131503,-0.057247673831595756 l 0.09382257655733749,-0.058837886993584526 l 0.09541278971932626,-0.062018313317562065 l 0.09382257655733749,-0.06519873964153962 l 0.09223236339534871,-0.0667889528035284 l 0.09064215023335995,-0.06996937912750592 l 0.08587151074739363,-0.06996937912750592 l 0.08905193707137118,-0.07474001861347224 l 0.08746172390938242,-0.07633023177546103 l 0.07951065809943855,-0.07474001861347224 l 0.07951065809943855,-0.07792044493744979 l 0.07951065809943855,-0.08110087126142732 l 0.07792044493744979,-0.08428129758540487 l 0.07792044493744979,-0.08746172390938242 l 0.06996937912750592,-0.08269108442341608 l 0.0715595922894947,-0.08905193707137118 l 0.06996937912750592,-0.08905193707137118 l 0.0667889528035284,-0.09223236339534871 l 0.06360852647955084,-0.09223236339534871 l 0.062018313317562065,-0.09541278971932626 l 0.062018313317562065,-0.09859321604330382 l 0.057247673831595756,-0.09541278971932626 l 0.05565746066960699,-0.10018342920529257 l 0.05247703434562945,-0.10018342920529257 l 0.05088682118364067,-0.10336385552927013 l 0.04770639485966313,-0.10177364236728134 l 0.04452596853568559,-0.10177364236728134 l 0.04452596853568559,-0.10972470817722521 l 0.04134554221170804,-0.10972470817722521 l 0.039755329049719276,-0.10813449501523645 l 0.0333944764017642,-0.10654428185324766 l 0.0333944764017642,-0.11131492133921397 l 0.030214050077786648,-0.10972470817722521 l 0.027033623753809112,-0.11290513450120274 l 0.025443410591820335,-0.11608556082518028 l 0.022262984267842796,-0.11608556082518028 l 0.019082557943865257,-0.11608556082518028 l 0.01749234478187648,-0.11767577398716905 l 0.012721705295910168,-0.11608556082518028 l 0.011131492133921398,-0.12085620031114659 l 0.007951065809943855,-0.11926598714915783 l 0.003180426323977542,-0.12085620031114659 l 0.001590213161988771,-0.12244641347313537 l -0.001590213161988771,-0.12244641347313537 l -0.003180426323977542,-0.12085620031114659 l -0.007951065809943855,-0.11926598714915783 l -0.011131492133921398,-0.12085620031114659 l -0.012721705295910168,-0.11608556082518028 l -0.01749234478187648,-0.11767577398716905 l -0.019082557943865257,-0.11767577398716905 l -0.022262984267842796,-0.11449534766319151 l -0.025443410591820335,-0.11608556082518028 l -0.027033623753809112,-0.11290513450120274 l -0.030214050077786648,-0.10972470817722521 l -0.0333944764017642,-0.11131492133921397 l -0.03498468956375296,-0.10813449501523645 l -0.038165115887730514,-0.10813449501523645 l -0.04134554221170804,-0.10972470817722521 l -0.04452596853568559,-0.10813449501523645 l -0.04452596853568559,-0.10336385552927013 l -0.04770639485966313,-0.10177364236728134 l -0.05088682118364067,-0.10177364236728134 l -0.05247703434562945,-0.10177364236728134 l -0.05565746066960699,-0.09859321604330382 l -0.057247673831595756,-0.09700300288131503 l -0.060428100155573296,-0.09700300288131503 l -0.06360852647955084,-0.09541278971932626 l -0.06360852647955084,-0.09223236339534871 l -0.0667889528035284,-0.09223236339534871 l -0.06996937912750592,-0.08905193707137118 l -0.0715595922894947,-0.08905193707137118 l -0.0715595922894947,-0.08587151074739363 l -0.07633023177546103,-0.08428129758540487 l -0.07633023177546103,-0.08269108442341608 l -0.07951065809943855,-0.08110087126142732 l -0.08269108442341608,-0.08110087126142732 l -0.08110087126142732,-0.07474001861347224 l -0.08428129758540487,-0.07633023177546103 l -0.08905193707137118,-0.07474001861347224 l -0.08587151074739363,-0.06996937912750592 l -0.09064215023335995,-0.06837916596551716 l -0.09223236339534871,-0.0667889528035284 l -0.09064215023335995,-0.06360852647955084 l -0.09541278971932626,-0.06360852647955084 l -0.09859321604330382,-0.060428100155573296 l -0.09700300288131503,-0.058837886993584526 l -0.09700300288131503,-0.054067247507618224 l -0.10177364236728134,-0.05247703434562945 l -0.10336385552927013,-0.05247703434562945 l -0.10177364236728134,-0.04770639485966313 l -0.10654428185324766,-0.046116181697674355 l -0.10813449501523645,-0.04452596853568559 l -0.10336385552927013,-0.038165115887730514 l -0.10972470817722521,-0.039755329049719276 l -0.10972470817722521,-0.03498468956375296 l -0.11131492133921397,-0.0333944764017642 l -0.11290513450120274,-0.030214050077786648 l -0.10813449501523645,-0.027033623753809112 l -0.11767577398716905,-0.025443410591820335 l -0.11767577398716905,-0.022262984267842796 l -0.10972470817722521,-0.019082557943865257 l -0.11767577398716905,-0.01590213161988771 l -0.12403662663512413,-0.014311918457898939 l -0.11767577398716905,-0.011131492133921398 l -0.11926598714915783,-0.006360852647955084 l -0.12085620031114659,-0.004770639485966314 l -0.12085620031114659,-0.001590213161988771 l -0.12244641347313537,0.001590213161988771 Z","style":{"fill":"rgb(242, 192, 93)","stroke":"none","stroke-width":0,"opacity":1}},"6912143e.a54e6c":{"id":"6912143e.a54e6c","label":"bird","type":"group","x":3,"y":71,"width":220.50446151273178,"height":180,"children":["39b5a363.b9619c"],"style":{"fill":"none","stroke":"none","opacity":1,"stroke-width":0}},"39b5a363.b9619c":{"id":"39b5a363.b9619c","type":"group","label":"group:39b5a363.b9619c","x":0,"y":0,"width":220.50446151273178,"height":180,"style":{"fill":"","stroke":"","stroke-width":0,"opacity":1},"children":["2f0ce095.1a345","5d99b4e7.6cfd5c","4cfeaf40.c8bb8","9cfe985b.abd688","1e76efd9.25f06","e3ee82c3.e4b95"]},"2f0ce095.1a345":{"id":"2f0ce095.1a345","type":"ellipse","label":"ellipse:2f0ce095.1a345","cx":117.31172253013922,"cy":89.87329314572578,"rx":91.78611044172648,"ry":89.87329314572578,"style":{"fill":"rgb(69, 69, 69)","stroke":"none","stroke-width":0,"opacity":1}},"5d99b4e7.6cfd5c":{"id":"5d99b4e7.6cfd5c","label":"path:5d99b4e7.6cfd5c","type":"path","d":"M 43.462656097951324,41.37624285725674 c -2.5059462575060523,-11.579754226474405 -7.517838772518152,-31.926301838733288 -10.8741029070099,-33.83911521040245 c -3.356264134491749,-1.9144207778638287 -5.306047848638534,21.558531883047568 -9.261874493745907,22.35419794941414 c -3.955826645107371,0.7956660663665787 -12.060368678683709,-22.516545975076816 -14.471477970703651,-17.58180895740936 c -2.4127166982146138,4.936344423862143 1.4755988867161995,39.33001477142917 0,47.19666068819285 c -0.5449106999965051,2.9029755875920005 -8.855200726491876,-2.9560199920164396 -8.855200726491876,0 c 0,4.463767002626238 4.1519302008583265,18.642697045898135 8.855200726491876,26.785816828146782 c 5.431425531823574,9.404933645072422 17.21371293882765,30.92006556086364 23.733352464449542,29.646999854677105 c 6.519639525621903,-1.2730657061865251 13.572937907877556,-24.856929394530844 15.38448468928186,-37.28378668560158 c 1.8067245628202715,-12.386672136203744 -1.9465689017574268,-25.425951187447556 -4.510381782271958,-37.27896446701755 Z","style":{"fill":"rgb(69, 69, 69)","stroke":"none","stroke-width":0,"opacity":1}},"4cfeaf40.c8bb8":{"id":"4cfeaf40.c8bb8","label":"path:4cfeaf40.c8bb8","type":"path","d":"M 204.5006457119627,63.98441098543032 l 17.919364258292152,16.908305761838456 l -17.919364258292152,2.9769162725472795 l 0,-19.885222034385748 Z","style":{"fill":"rgb(69, 69, 69)","stroke":"none","stroke-width":0,"opacity":1}},"9cfe985b.abd688":{"id":"9cfe985b.abd688","type":"ellipse","label":"ellipse:9cfe985b.abd688","cx":166.06434309449492,"cy":43.03026456739459,"rx":6.614476123201939,"ry":6.818617243390112,"style":{"fill":"rgb(255, 247, 247)","stroke":"none","stroke-width":0,"opacity":1}},"1e76efd9.25f06":{"id":"1e76efd9.25f06","label":"path:1e76efd9.25f06","type":"path","d":"M 36.775846328082714,134.51739480798688 c 15.877958391048608,27.27768312371885 45.852869109440434,45.685698865193714 80.1838506154149,45.685698865193714 c 34.330981505974506,0 64.30428481817164,-18.408015741474856 80.18224320922026,-45.685698865193714 l -160.36609382463513,0 Z","style":{"fill":"rgb(140, 206, 204)","stroke":"none","stroke-width":0,"opacity":1}},"e3ee82c3.e4b95":{"id":"e3ee82c3.e4b95","label":"path:e3ee82c3.e4b95","type":"path","d":"M 196.95387362794037,134.8372686407281 l -0.18645911858287487,0.3182664265466313 l -0.1896739309722348,0.3182664265466313 l -0.1912813371669148,0.3166590203519513 l -0.1912813371669148,0.31505161415727145 l -0.19288874336159473,0.31505161415727145 l -0.19449614955627476,0.31505161415727145 l -0.1961035557509546,0.31344420796259137 l -0.1961035557509546,0.3118368017679116 l -0.1993183681403146,0.3118368017679116 l -0.1993183681403146,0.3118368017679116 l -0.20092577433499456,0.3102293955732315 l -0.20092577433499456,0.3086219893785515 l -0.2041405867243545,0.3086219893785515 l -0.2041405867243545,0.3070145831838717 l -0.2057479929190343,0.3070145831838717 l -0.2057479929190343,0.30540717698919173 l -0.20896280530839434,0.30540717698919173 l -0.20896280530839434,0.3037997707945116 l -0.2105702115030743,0.3037997707945116 l -0.2121776176977542,0.3021923645998318 l -0.2121776176977542,0.30058495840515187 l -0.21539243008711417,0.30058495840515187 l -0.21539243008711417,0.30058495840515187 l -0.21539243008711417,0.29897755221047173 l -0.21860724247647403,0.2973701460157918 l -0.21860724247647403,0.2973701460157918 l -0.22021464867115403,0.295762739821112 l -0.22182205486583403,0.2941553336264319 l -0.22182205486583403,0.2941553336264319 l -0.22503686725519387,0.2941553336264319 l -0.22503686725519387,0.29254792743175195 l -0.22503686725519387,0.29094052123707215 l -0.22825167964455378,0.29094052123707215 l -0.22825167964455378,0.28933311504239206 l -0.22985908583923373,0.28933311504239206 l -0.22985908583923373,0.2877257088477121 l -0.23307389822859365,0.2861183026530323 l -0.23307389822859365,0.2861183026530323 l -0.2346813044232736,0.2845108964583522 l -0.2346813044232736,0.2845108964583522 l -0.2362887106179535,0.2829034902636722 l -0.2378961168126334,0.28129608406899237 l -0.23950352300731345,0.28129608406899237 l -0.23950352300731345,0.28129608406899237 l -0.24111092920199345,0.27808127167963237 l -0.2427183353966734,0.27808127167963237 l -0.2427183353966734,0.27808127167963237 l -0.2459331477860333,0.2764738654849524 l -0.2443257415913533,0.2748664592902726 l -0.24754055398071323,0.2748664592902726 l -0.24754055398071323,0.2732590530955925 l -0.2491479601753932,0.2716516469009127 l -0.2507553663700732,0.2716516469009127 l -0.2507553663700732,0.2700442407062327 l -0.25236277256475304,0.2700442407062327 l -0.2539701787594332,0.26682942831687273 l -0.2539701787594332,0.26843683451155265 l -0.25557758495411304,0.2652220221221927 l -0.25718499114879295,0.2652220221221927 l -0.25718499114879295,0.2652220221221927 l -0.2587923973434729,0.2636146159275128 l -0.2603998035381529,0.2620072097328329 l -0.2603998035381529,0.2603998035381529 l -0.2620072097328329,0.2603998035381529 l -0.2636146159275128,0.2587923973434729 l -0.2636146159275128,0.2587923973434729 l -0.2652220221221927,0.25718499114879295 l -0.26682942831687273,0.25557758495411304 l -0.26682942831687273,0.25557758495411304 l -0.26843683451155265,0.2539701787594332 l -0.2700442407062327,0.25236277256475304 l -0.2700442407062327,0.25236277256475304 l -0.2716516469009127,0.2507553663700732 l -0.2716516469009127,0.2491479601753932 l -0.2748664592902726,0.2491479601753932 l -0.2748664592902726,0.24754055398071323 l -0.2748664592902726,0.2459331477860333 l -0.2764738654849524,0.2459331477860333 l -0.27808127167963237,0.2443257415913533 l -0.27808127167963237,0.2427183353966734 l -0.27968867787431234,0.2427183353966734 l -0.28129608406899237,0.24111092920199345 l -0.28129608406899237,0.23950352300731345 l -0.2829034902636722,0.23950352300731345 l -0.2829034902636722,0.2378961168126334 l -0.2845108964583522,0.2362887106179535 l -0.2861183026530323,0.2346813044232736 l -0.2877257088477121,0.2346813044232736 l -0.2861183026530323,0.23307389822859365 l -0.28933311504239206,0.23307389822859365 l -0.28933311504239206,0.22985908583923373 l -0.29094052123707215,0.23146649203391362 l -0.29094052123707215,0.22825167964455378 l -0.29254792743175195,0.22825167964455378 l -0.2941553336264319,0.22503686725519387 l -0.2941553336264319,0.22664427344987376 l -0.295762739821112,0.2234294610605139 l -0.295762739821112,0.2234294610605139 l -0.2973701460157918,0.22182205486583403 l -0.2973701460157918,0.22182205486583403 l -0.29897755221047173,0.21860724247647403 l -0.30058495840515187,0.21860724247647403 l -0.30058495840515187,0.21699983628179398 l -0.3021923645998318,0.21699983628179398 l -0.3037997707945116,0.21539243008711417 l -0.3037997707945116,0.21378502389243423 l -0.3037997707945116,0.2121776176977542 l -0.30540717698919173,0.2105702115030743 l -0.3070145831838717,0.2105702115030743 l -0.3070145831838717,0.20896280530839434 l -0.3086219893785515,0.20896280530839434 l -0.3086219893785515,0.2057479929190343 l -0.3102293955732315,0.2057479929190343 l -0.3118368017679116,0.2041405867243545 l -0.3118368017679116,0.2041405867243545 l -0.3118368017679116,0.20092577433499456 l -0.31505161415727145,0.20092577433499456 l -0.31344420796259137,0.1993183681403146 l -0.31505161415727145,0.1993183681403146 l -0.3166590203519513,0.1961035557509546 l -0.3182664265466313,0.1961035557509546 l -0.3166590203519513,0.19449614955627476 l -0.31987383274131126,0.19288874336159473 l -0.31987383274131126,0.19288874336159473 l -0.31987383274131126,0.1912813371669148 l -0.3214812389359914,0.1896739309722348 l -0.32308864513067115,0.18806652477755487 l -0.32308864513067115,0.18645911858287487 l -0.32308864513067115,0.18645911858287487 l -0.32469605132535106,0.18485171238819498 l -0.3263034575200313,0.183244306193515 l -0.3263034575200313,0.18163689999883503 l -0.32791086371471095,0.18163689999883503 l -0.32791086371471095,0.17842208760947514 l -0.32791086371471095,0.17842208760947514 l -0.331125676104071,0.1768146814147952 l -0.3295182699093908,0.1768146814147952 l -0.331125676104071,0.17359986902543534 l -0.3327330822987509,0.17359986902543534 l -0.3327330822987509,0.17199246283075534 l -0.3343404884934308,0.17038505663607528 l -0.3343404884934308,0.16877765044139534 l -0.33594789468811087,0.16877765044139534 l -0.33594789468811087,0.1671702442467154 l -0.3375553008827907,0.1655628380520355 l -0.3375553008827907,0.16395543185735548 l -0.3375553008827907,0.16234802566267553 l -0.33916270707747076,0.1607406194679957 l -0.34077011327215057,0.1607406194679957 l -0.34077011327215057,0.15913321327331564 l -0.3423775194668307,0.15752580707863573 l -0.3423775194668307,0.1559184008839558 l -0.3423775194668307,0.15431099468927575 l -0.3439849256615107,0.15431099468927575 l -0.3439849256615107,0.1510961822999159 l -0.34559233185619054,0.1510961822999159 l -0.3471997380508707,0.14948877610523587 l -0.34559233185619054,0.147881369910556 l -0.3488071442455503,0.147881369910556 l -0.3471997380508707,0.14466655752119603 l -0.35041455044023034,0.14466655752119603 l -0.3488071442455503,0.1414517451318361 l -0.35041455044023034,0.1414517451318361 l -0.3520219566349106,0.13984433893715617 l -0.3520219566349106,0.1382369327424762 l -0.3520219566349106,0.1382369327424762 l -0.3536293628295904,0.13502212035311634 l -0.3536293628295904,0.13502212035311634 l -0.3552367690242702,0.13341471415843636 l -0.3552367690242702,0.1318073079637564 l -0.3568441752189503,0.13019990176907645 l -0.3568441752189503,0.12859249557439648 l -0.3568441752189503,0.1269850893797166 l -0.35845158141363026,0.1253776831850366 l -0.35845158141363026,0.1253776831850366 l -0.3600589876083101,0.12377027699035661 l -0.3600589876083101,0.12055546460099673 l -0.36166639380299015,0.12055546460099673 l -0.36166639380299015,0.1189480584063167 l -0.36166639380299015,0.1173406522116368 l -0.36327379999767007,0.1173406522116368 l -0.36327379999767007,0.11412583982227689 l -0.36488120619235,0.11251843362759693 l -0.36488120619235,0.11251843362759693 l -0.36488120619235,0.10930362123823702 l -0.36648861238703,0.10930362123823702 l -0.36648861238703,0.10769621504355709 l -0.36809601858171004,0.1060888088488771 l -0.36809601858171004,0.10448140265419717 l -0.36809601858171004,0.10287399645951716 l -0.36970342477638996,0.10126659026483723 l -0.36970342477638996,0.10126659026483723 l -0.3713108309710697,0.0980517778754773 l -0.36970342477638996,0.09644437168079736 l -0.37291823716574973,0.09644437168079736 l -0.3713108309710697,0.0948369654861174 l -0.37452564336042965,0.0916221530967575 l -0.37291823716574973,0.0916221530967575 l -0.37452564336042965,0.09001474690207753 l -0.37452564336042965,0.0884073407073976 l -0.37452564336042965,0.08679993451271767 l -0.37613304955510973,0.08519252831803764 l -0.3777404557497898,0.0835851221233577 l -0.37613304955510973,0.08197771592867774 l -0.3777404557497898,0.08037030973399785 l -0.3793478619444696,0.08037030973399785 l -0.3777404557497898,0.07715549734463788 l -0.3793478619444696,0.07715549734463788 l -0.3809552681391496,0.073940684955278 l -0.3809552681391496,0.073940684955278 l -0.3809552681391496,0.07072587256591804 l -0.3809552681391496,0.07072587256591804 l -0.3825626743338296,0.06751106017655817 l -0.3825626743338296,0.06751106017655817 l -0.38417008052850954,0.0659036539818782 l -0.3825626743338296,0.0626888415925183 l -0.38417008052850954,0.0626888415925183 l -0.38577748672318946,0.06108143539783833 l -0.38577748672318946,0.05947402920315835 l -0.38577748672318946,0.057866623008478404 l -0.38577748672318946,0.05625921681379847 l -0.3873848929178694,0.05465181061911851 l -0.3873848929178694,0.05304440442443855 l -0.3873848929178694,0.05143699822975858 l -0.3889922991125495,0.04982959203507865 l -0.3889922991125495,0.04822218584039868 l -0.3905997053072292,0.04661477964571872 l -0.3889922991125495,0.045007373451038765 l -0.3905997053072292,0.043399967256358835 l -0.3905997053072292,0.04179256106167885 l -0.3922071115019092,0.040185154866998925 l -0.3922071115019092,0.03857774867231894 l -0.3922071115019092,0.036970342477639 l -0.3922071115019092,0.03536293628295902 l -0.3938145176965894,0.033755530088279084 l -0.3938145176965894,0.03214812389359912 l -0.39542192389126923,0.030540717698919164 l -0.3938145176965894,0.028933311504239202 l -0.39542192389126923,0.027325905309559254 l -0.39542192389126923,0.02571849911487929 l -0.39702933008594915,0.02411109292019934 l -0.39542192389126923,0.022503686725519383 l -0.39702933008594915,0.020896280530839424 l -0.3986367362806292,0.01928887433615947 l -0.39702933008594915,0.01768146814147951 l -0.3986367362806292,0.01607406194679956 l -0.3986367362806292,0.012859249557439644 l -0.40024414247530904,0.012859249557439644 l -0.3986367362806292,0.011251843362759691 l -0.40024414247530904,0.009644437168079735 l -0.40024414247530904,0.006429624778719822 l -0.4018515486699891,0.006429624778719822 l -0.40024414247530904,0.004822218584039867 l -0.4018515486699891,0.0016074061946799556 l -0.4018515486699891,0.0016074061946799556 l -0.403458954864669,-0.0016074061946799556 l -0.4018515486699891,-0.0016074061946799556 l -0.40024414247530904,-0.004822218584039867 l -0.4018515486699891,-0.006429624778719822 l -0.40024414247530904,-0.006429624778719822 l -0.40024414247530904,-0.009644437168079735 l -0.3986367362806292,-0.011251843362759691 l -0.40024414247530904,-0.012859249557439644 l -0.3986367362806292,-0.012859249557439644 l -0.3986367362806292,-0.01607406194679956 l -0.39702933008594915,-0.01768146814147951 l -0.39702933008594915,-0.01928887433615947 l -0.39702933008594915,-0.020896280530839424 l -0.39702933008594915,-0.022503686725519383 l -0.39702933008594915,-0.02411109292019934 l -0.39542192389126923,-0.02571849911487929 l -0.39542192389126923,-0.027325905309559254 l -0.3938145176965894,-0.028933311504239202 l -0.39542192389126923,-0.030540717698919164 l -0.3938145176965894,-0.03214812389359912 l -0.3922071115019092,-0.033755530088279084 l -0.3938145176965894,-0.03536293628295902 l -0.3922071115019092,-0.036970342477639 l -0.3922071115019092,-0.03857774867231894 l -0.3922071115019092,-0.040185154866998925 l -0.3905997053072292,-0.04179256106167885 l -0.3905997053072292,-0.043399967256358835 l -0.3889922991125495,-0.045007373451038765 l -0.3905997053072292,-0.04661477964571872 l -0.3889922991125495,-0.04822218584039868 l -0.3873848929178694,-0.04982959203507865 l -0.3889922991125495,-0.05143699822975858 l -0.3873848929178694,-0.05304440442443855 l -0.3873848929178694,-0.05465181061911851 l -0.38577748672318946,-0.05625921681379847 l -0.38577748672318946,-0.057866623008478404 l -0.38577748672318946,-0.05947402920315835 l -0.38417008052850954,-0.06108143539783833 l -0.38577748672318946,-0.0626888415925183 l -0.3825626743338296,-0.0626888415925183 l -0.38417008052850954,-0.0659036539818782 l -0.3825626743338296,-0.06751106017655817 l -0.3825626743338296,-0.06751106017655817 l -0.3809552681391496,-0.07072587256591804 l -0.3809552681391496,-0.07072587256591804 l -0.3809552681391496,-0.073940684955278 l -0.3793478619444696,-0.073940684955278 l -0.3809552681391496,-0.07715549734463788 l -0.3777404557497898,-0.07715549734463788 l -0.3793478619444696,-0.08037030973399785 l -0.3777404557497898,-0.08037030973399785 l -0.37613304955510973,-0.08197771592867774 l -0.3777404557497898,-0.0835851221233577 l -0.37452564336042965,-0.08519252831803764 l -0.37613304955510973,-0.08679993451271767 l -0.37452564336042965,-0.0884073407073976 l -0.37452564336042965,-0.09001474690207753 l -0.37291823716574973,-0.0916221530967575 l -0.37291823716574973,-0.0916221530967575 l -0.37291823716574973,-0.0948369654861174 l -0.3713108309710697,-0.09644437168079736 l -0.3713108309710697,-0.09644437168079736 l -0.3713108309710697,-0.0980517778754773 l -0.36970342477638996,-0.10126659026483723 l -0.36970342477638996,-0.10126659026483723 l -0.36809601858171004,-0.10287399645951716 l -0.36809601858171004,-0.10448140265419717 l -0.36809601858171004,-0.1060888088488771 l -0.36648861238703,-0.10769621504355709 l -0.36648861238703,-0.10930362123823702 l -0.36488120619235,-0.10930362123823702 l -0.36488120619235,-0.11251843362759693 l -0.36488120619235,-0.11251843362759693 l -0.36327379999767007,-0.11412583982227689 l -0.36327379999767007,-0.1173406522116368 l -0.36166639380299015,-0.1173406522116368 l -0.36166639380299015,-0.1189480584063167 l -0.36166639380299015,-0.12055546460099673 l -0.3600589876083101,-0.12055546460099673 l -0.3600589876083101,-0.12377027699035661 l -0.35845158141363026,-0.1253776831850366 l -0.35845158141363026,-0.1253776831850366 l -0.3568441752189503,-0.1269850893797166 l -0.3568441752189503,-0.12859249557439648 l -0.3568441752189503,-0.13019990176907645 l -0.3552367690242702,-0.1318073079637564 l -0.3552367690242702,-0.13341471415843636 l -0.3536293628295904,-0.13502212035311634 l -0.3536293628295904,-0.13502212035311634 l -0.3520219566349106,-0.1382369327424762 l -0.3520219566349106,-0.1382369327424762 l -0.3520219566349106,-0.13984433893715617 l -0.35041455044023034,-0.1414517451318361 l -0.3488071442455503,-0.1414517451318361 l -0.35041455044023034,-0.14466655752119603 l -0.3471997380508707,-0.14466655752119603 l -0.3488071442455503,-0.147881369910556 l -0.34559233185619054,-0.147881369910556 l -0.3471997380508707,-0.14948877610523587 l -0.34559233185619054,-0.1510961822999159 l -0.3439849256615107,-0.1510961822999159 l -0.3439849256615107,-0.15431099468927575 l -0.3423775194668307,-0.15431099468927575 l -0.3423775194668307,-0.1559184008839558 l -0.3423775194668307,-0.15752580707863573 l -0.34077011327215057,-0.15913321327331564 l -0.34077011327215057,-0.1607406194679957 l -0.33916270707747076,-0.1607406194679957 l -0.3375553008827907,-0.16234802566267553 l -0.3375553008827907,-0.16395543185735548 l -0.3375553008827907,-0.1655628380520355 l -0.33594789468811087,-0.1671702442467154 l -0.33594789468811087,-0.16877765044139534 l -0.3343404884934308,-0.16877765044139534 l -0.3343404884934308,-0.17038505663607528 l -0.3327330822987509,-0.17199246283075534 l -0.331125676104071,-0.17359986902543534 l -0.3327330822987509,-0.17359986902543534 l -0.3295182699093908,-0.1768146814147952 l -0.3295182699093908,-0.1768146814147952 l -0.3295182699093908,-0.17842208760947514 l -0.32791086371471095,-0.17842208760947514 l -0.32791086371471095,-0.18163689999883503 l -0.3263034575200313,-0.18163689999883503 l -0.3263034575200313,-0.183244306193515 l -0.32469605132535106,-0.18485171238819498 l -0.32308864513067115,-0.18645911858287487 l -0.32308864513067115,-0.18645911858287487 l -0.32308864513067115,-0.18806652477755487 l -0.3214812389359914,-0.1896739309722348 l -0.31987383274131126,-0.1912813371669148 l -0.31987383274131126,-0.19288874336159473 l -0.31987383274131126,-0.19288874336159473 l -0.3166590203519513,-0.19449614955627476 l -0.3182664265466313,-0.1961035557509546 l -0.3166590203519513,-0.1961035557509546 l -0.31505161415727145,-0.1993183681403146 l -0.31344420796259137,-0.1993183681403146 l -0.31505161415727145,-0.20092577433499456 l -0.3118368017679116,-0.20092577433499456 l -0.3118368017679116,-0.2041405867243545 l -0.3118368017679116,-0.2041405867243545 l -0.3102293955732315,-0.2057479929190343 l -0.3086219893785515,-0.2057479929190343 l -0.3086219893785515,-0.20896280530839434 l -0.3070145831838717,-0.20896280530839434 l -0.3070145831838717,-0.2105702115030743 l -0.30540717698919173,-0.2105702115030743 l -0.3037997707945116,-0.2121776176977542 l -0.3037997707945116,-0.21378502389243423 l -0.3037997707945116,-0.21539243008711417 l -0.3021923645998318,-0.21699983628179398 l -0.30058495840515187,-0.21699983628179398 l -0.29897755221047173,-0.21860724247647403 l -0.30058495840515187,-0.21860724247647403 l -0.2973701460157918,-0.22182205486583403 l -0.2973701460157918,-0.22182205486583403 l -0.295762739821112,-0.2234294610605139 l -0.295762739821112,-0.2234294610605139 l -0.2941553336264319,-0.22664427344987376 l -0.2941553336264319,-0.22503686725519387 l -0.29254792743175195,-0.22825167964455378 l -0.29094052123707215,-0.22825167964455378 l -0.29094052123707215,-0.23146649203391362 l -0.28933311504239206,-0.22985908583923373 l -0.2877257088477121,-0.23307389822859365 l -0.2877257088477121,-0.23307389822859365 l -0.2877257088477121,-0.2346813044232736 l -0.2845108964583522,-0.2346813044232736 l -0.2861183026530323,-0.2362887106179535 l -0.2829034902636722,-0.2378961168126334 l -0.2829034902636722,-0.23950352300731345 l -0.28129608406899237,-0.23950352300731345 l -0.28129608406899237,-0.24111092920199345 l -0.27968867787431234,-0.2427183353966734 l -0.27808127167963237,-0.2427183353966734 l -0.27808127167963237,-0.2443257415913533 l -0.2764738654849524,-0.2459331477860333 l -0.2748664592902726,-0.2459331477860333 l -0.2748664592902726,-0.24754055398071323 l -0.2732590530955925,-0.2491479601753932 l -0.2732590530955925,-0.2491479601753932 l -0.2716516469009127,-0.2507553663700732 l -0.2700442407062327,-0.25236277256475304 l -0.2700442407062327,-0.25236277256475304 l -0.26843683451155265,-0.2539701787594332 l -0.26682942831687273,-0.25557758495411304 l -0.26682942831687273,-0.25557758495411304 l -0.2652220221221927,-0.25718499114879295 l -0.2636146159275128,-0.2587923973434729 l -0.2636146159275128,-0.2587923973434729 l -0.2620072097328329,-0.2603998035381529 l -0.2603998035381529,-0.2603998035381529 l -0.2603998035381529,-0.2620072097328329 l -0.2587923973434729,-0.2636146159275128 l -0.25718499114879295,-0.2652220221221927 l -0.25718499114879295,-0.2652220221221927 l -0.25557758495411304,-0.2652220221221927 l -0.2539701787594332,-0.26843683451155265 l -0.2539701787594332,-0.26682942831687273 l -0.25236277256475304,-0.2700442407062327 l -0.2507553663700732,-0.2700442407062327 l -0.2507553663700732,-0.2716516469009127 l -0.2491479601753932,-0.2716516469009127 l -0.24754055398071323,-0.2732590530955925 l -0.24754055398071323,-0.2748664592902726 l -0.2443257415913533,-0.2748664592902726 l -0.2459331477860333,-0.2764738654849524 l -0.2427183353966734,-0.27808127167963237 l -0.2427183353966734,-0.27808127167963237 l -0.24111092920199345,-0.27808127167963237 l -0.23950352300731345,-0.28129608406899237 l -0.23950352300731345,-0.28129608406899237 l -0.2378961168126334,-0.28129608406899237 l -0.2362887106179535,-0.2829034902636722 l -0.2346813044232736,-0.2845108964583522 l -0.2346813044232736,-0.2845108964583522 l -0.23307389822859365,-0.2861183026530323 l -0.23307389822859365,-0.2861183026530323 l -0.22985908583923373,-0.2877257088477121 l -0.22985908583923373,-0.28933311504239206 l -0.22825167964455378,-0.28933311504239206 l -0.22825167964455378,-0.29094052123707215 l -0.22503686725519387,-0.29094052123707215 l -0.22503686725519387,-0.29254792743175195 l -0.22503686725519387,-0.2941553336264319 l -0.22182205486583403,-0.2941553336264319 l -0.22182205486583403,-0.2941553336264319 l -0.22021464867115403,-0.295762739821112 l -0.21860724247647403,-0.2973701460157918 l -0.21860724247647403,-0.2973701460157918 l -0.21539243008711417,-0.29897755221047173 l -0.21539243008711417,-0.30058495840515187 l -0.21539243008711417,-0.30058495840515187 l -0.2121776176977542,-0.30058495840515187 l -0.2121776176977542,-0.3021923645998318 l -0.2105702115030743,-0.3037997707945116 l -0.20896280530839434,-0.3037997707945116 l -0.20896280530839434,-0.30540717698919173 l -0.2057479929190343,-0.30540717698919173 l -0.2057479929190343,-0.3070145831838717 l -0.2041405867243545,-0.3070145831838717 l -0.2041405867243545,-0.3086219893785515 l -0.20092577433499456,-0.3086219893785515 l -0.20092577433499456,-0.3102293955732315 l -0.1993183681403146,-0.3118368017679116 l -0.1993183681403146,-0.3118368017679116 l -0.1961035557509546,-0.3118368017679116 l -0.1961035557509546,-0.31344420796259137 l -0.19449614955627476,-0.31505161415727145 l -0.19288874336159473,-0.31505161415727145 l -0.1912813371669148,-0.31505161415727145 l -0.1912813371669148,-0.3166590203519513 l -0.18806652477755487,-0.3182664265466313 l -0.18806652477755487,-0.3182664265466313 l -0.18806652477755487,-0.31987383274131126 l 160.36609382463513,0 l -0.18806652477755487,0.31987383274131126 Z m -142.88876626988005,8.520860237998447 l 0.13662952654779625,0.15431099468927575 l 0.22664427344987376,0.2507553663700732 l 0.22182205486583403,0.2459331477860333 l 0.22664427344987376,0.24754055398071323 l 0.22664427344987376,0.2459331477860333 l 0.22825167964455378,0.2459331477860333 l 0.22664427344987376,0.24111092920199345 l 0.2234294610605139,0.2362887106179535 l 0.2346813044232736,0.2459331477860333 l 0.23146649203391362,0.2427183353966734 l 0.22985908583923373,0.2378961168126334 l 0.2346813044232736,0.23950352300731345 l 0.23146649203391362,0.2362887106179535 l 0.23307389822859365,0.2346813044232736 l 0.24111092920199345,0.24111092920199345 l 0.2378961168126334,0.2362887106179535 l 0.2362887106179535,0.23146649203391362 l 0.23950352300731345,0.2346813044232736 l 0.24111092920199345,0.23307389822859365 l 0.2346813044232736,0.22664427344987376 l 0.2427183353966734,0.23146649203391362 l 0.24754055398071323,0.2346813044232736 l 0.2378961168126334,0.2234294610605139 l 0.2459331477860333,0.22825167964455378 l 0.2507553663700732,0.23146649203391362 l 0.2427183353966734,0.2234294610605139 l 0.2459331477860333,0.2234294610605139 l 0.2491479601753932,0.22503686725519387 l 0.24754055398071323,0.22021464867115403 l 0.2507553663700732,0.2234294610605139 l 0.25236277256475304,0.22182205486583403 l 0.2507553663700732,0.21860724247647403 l 0.2539701787594332,0.22021464867115403 l 0.25236277256475304,0.21539243008711417 l 0.25557758495411304,0.21699983628179398 l 0.25718499114879295,0.21860724247647403 l 0.25718499114879295,0.21539243008711417 l 0.2587923973434729,0.21539243008711417 l 0.25236277256475304,0.20735539911371437 l 0.2603998035381529,0.21378502389243423 l 0.2620072097328329,0.2121776176977542 l 0.2587923973434729,0.20735539911371437 l 0.2652220221221927,0.2121776176977542 l 0.2652220221221927,0.2105702115030743 l 0.2587923973434729,0.20253318052967445 l 0.2652220221221927,0.2057479929190343 l 0.26682942831687273,0.2057479929190343 l 0.26682942831687273,0.2057479929190343 l 0.26843683451155265,0.2041405867243545 l 0.2652220221221927,0.1993183681403146 l 0.26682942831687273,0.1993183681403146 l 0.2716516469009127,0.20092577433499456 l 0.2716516469009127,0.1993183681403146 l 0.26843683451155265,0.1961035557509546 l 0.2732590530955925,0.19771096194563462 l 0.2748664592902726,0.1961035557509546 l 0.2716516469009127,0.19288874336159473 l 0.2764738654849524,0.19449614955627476 l 0.2764738654849524,0.19288874336159473 l 0.2700442407062327,0.18806652477755487 l 0.2829034902636722,0.19288874336159473 l 0.2829034902636722,0.19288874336159473 l 0.2716516469009127,0.183244306193515 l 0.27808127167963237,0.18645911858287487 l 0.2829034902636722,0.18645911858287487 l 0.28129608406899237,0.18485171238819498 l 0.2829034902636722,0.18485171238819498 l 0.2861183026530323,0.183244306193515 l 0.28129608406899237,0.18163689999883503 l 0.28129608406899237,0.17842208760947514 l 0.2861183026530323,0.17842208760947514 l 0.2877257088477121,0.18002949380415506 l 0.2861183026530323,0.1768146814147952 l 0.2877257088477121,0.17520727522011517 l 0.2941553336264319,0.17842208760947514 l 0.2829034902636722,0.17038505663607528 l 0.29094052123707215,0.17359986902543534 l 0.29254792743175195,0.17199246283075534 l 0.28933311504239206,0.16877765044139534 l 0.29254792743175195,0.17038505663607528 l 0.295762739821112,0.16877765044139534 l 0.2941553336264319,0.16877765044139534 l 0.29254792743175195,0.16395543185735548 l 0.29254792743175195,0.16395543185735548 l 0.2973701460157918,0.16395543185735548 l 0.2973701460157918,0.16234802566267553 l 0.2973701460157918,0.1607406194679957 l 0.3021923645998318,0.16234802566267553 l 0.2973701460157918,0.15752580707863573 l 0.2973701460157918,0.15752580707863573 l 0.30540717698919173,0.15913321327331564 l 0.2973701460157918,0.15270358849459587 l 0.30058495840515187,0.15431099468927575 l 0.3037997707945116,0.15431099468927575 l 0.30540717698919173,0.15270358849459587 l 0.3021923645998318,0.14948877610523587 l 0.3021923645998318,0.147881369910556 l 0.3086219893785515,0.1510961822999159 l 0.3086219893785515,0.147881369910556 l 0.30540717698919173,0.14466655752119603 l 0.3086219893785515,0.14627396371587598 l 0.30540717698919173,0.1414517451318361 l 0.3118368017679116,0.14305915132651614 l 0.3102293955732315,0.14305915132651614 l 0.3070145831838717,0.1382369327424762 l 0.3102293955732315,0.1382369327424762 l 0.3118368017679116,0.13662952654779625 l 0.3182664265466313,0.13984433893715617 l 0.3118368017679116,0.13502212035311634 l 0.3086219893785515,0.1318073079637564 l 0.3166590203519513,0.13341471415843636 l 0.3118368017679116,0.13019990176907645 l 0.3182664265466313,0.1318073079637564 l 0.3214812389359914,0.13019990176907645 l 0.31344420796259137,0.1269850893797166 l 0.31987383274131126,0.1269850893797166 l 0.31505161415727145,0.12377027699035661 l 0.3166590203519513,0.12377027699035661 l 0.32791086371471095,0.1253776831850366 l 0.3166590203519513,0.12055546460099673 l 0.31987383274131126,0.12055546460099673 l 0.32469605132535106,0.12055546460099673 l 0.31987383274131126,0.11573324601695681 l 0.3214812389359914,0.1173406522116368 l 0.3214812389359914,0.11412583982227689 l 0.32469605132535106,0.11412583982227689 l 0.3295182699093908,0.11412583982227689 l 0.32469605132535106,0.11091102743291702 l 0.32308864513067115,0.10930362123823702 l 0.32469605132535106,0.10769621504355709 l 0.331125676104071,0.10930362123823702 l 0.331125676104071,0.10769621504355709 l 0.32308864513067115,0.10287399645951716 l 0.3263034575200313,0.10287399645951716 l 0.3327330822987509,0.10448140265419717 l 0.3295182699093908,0.0996591840701573 l 0.3343404884934308,0.10126659026483723 l 0.331125676104071,0.0980517778754773 l 0.331125676104071,0.0980517778754773 l 0.3327330822987509,0.09644437168079736 l 0.331125676104071,0.09322955929143743 l 0.3375553008827907,0.0948369654861174 l 0.32791086371471095,0.09001474690207753 l 0.3327330822987509,0.09001474690207753 l 0.34077011327215057,0.09001474690207753 l 0.3375553008827907,0.0884073407073976 l 0.3343404884934308,0.08679993451271767 l 0.33594789468811087,0.08519252831803764 l 0.33916270707747076,0.0835851221233577 l 0.3423775194668307,0.0835851221233577 l 0.3375553008827907,0.08197771592867774 l 0.3343404884934308,0.07876290353931786 l 0.33916270707747076,0.07715549734463788 l 0.34077011327215057,0.07715549734463788 l 0.34077011327215057,0.07715549734463788 l 0.3471997380508707,0.07554809114995795 l 0.3423775194668307,0.07233327876059802 l 0.33594789468811087,0.07072587256591804 l 0.3439849256615107,0.07072587256591804 l 0.3439849256615107,0.0691184663712381 l 0.3439849256615107,0.06751106017655817 l 0.34559233185619054,0.0659036539818782 l 0.34559233185619054,0.0659036539818782 l 0.34077011327215057,0.0626888415925183 l 0.3471997380508707,0.06108143539783833 l 0.3520219566349106,0.0626888415925183 l 0.3439849256615107,0.057866623008478404 l 0.3488071442455503,0.057866623008478404 l 0.3471997380508707,0.057866623008478404 l 0.34559233185619054,0.05304440442443855 l 0.35041455044023034,0.05465181061911851 l 0.35041455044023034,0.05143699822975858 l 0.3520219566349106,0.05143699822975858 l 0.3520219566349106,0.04982959203507865 l 0.3471997380508707,0.04822218584039868 l 0.3536293628295904,0.04661477964571872 l 0.3536293628295904,0.045007373451038765 l 0.3471997380508707,0.043399967256358835 l 0.3552367690242702,0.04179256106167885 l 0.3568441752189503,0.04179256106167885 l 0.3488071442455503,0.03857774867231894 l 0.3568441752189503,0.03857774867231894 l 0.3568441752189503,0.036970342477639 l 0.3520219566349106,0.033755530088279084 l 0.3520219566349106,0.033755530088279084 l 0.35845158141363026,0.03214812389359912 l 0.3600589876083101,0.030540717698919164 l 0.3536293628295904,0.028933311504239202 l 0.3600589876083101,0.028933311504239202 l 0.3600589876083101,0.02571849911487929 l 0.3568441752189503,0.02571849911487929 l 0.3552367690242702,0.022503686725519383 l 0.36327379999767007,0.022503686725519383 l 0.3568441752189503,0.01928887433615947 l 0.3568441752189503,0.01928887433615947 l 0.36488120619235,0.01768146814147951 l 0.36327379999767007,0.01607406194679956 l 0.3600589876083101,0.014466655752119601 l 0.35845158141363026,0.011251843362759691 l 0.36648861238703,0.012859249557439644 l 0.36648861238703,0.009644437168079735 l 0.3600589876083101,0.00803703097339978 l 0.3568441752189503,0.006429624778719822 l 0.36809601858171004,0.004822218584039867 l 0.36809601858171004,0.004822218584039867 l 0.3568441752189503,0.0016074061946799556 l 0.36970342477638996,0.0016074061946799556 l 0.36809601858171004,-0.0016074061946799556 l 0.35845158141363026,-0.0016074061946799556 l 0.36809601858171004,-0.004822218584039867 l 0.36648861238703,-0.004822218584039867 l 0.3568441752189503,-0.006429624778719822 l 0.3600589876083101,-0.00803703097339978 l 0.36648861238703,-0.009644437168079735 l 0.36648861238703,-0.012859249557439644 l 0.3600589876083101,-0.011251843362759691 l 0.35845158141363026,-0.014466655752119601 l 0.36488120619235,-0.01607406194679956 l 0.36327379999767007,-0.01768146814147951 l 0.3568441752189503,-0.01928887433615947 l 0.35845158141363026,-0.01928887433615947 l 0.36166639380299015,-0.022503686725519383 l 0.3568441752189503,-0.022503686725519383 l 0.3552367690242702,-0.02571849911487929 l 0.3600589876083101,-0.02571849911487929 l 0.3600589876083101,-0.028933311504239202 l 0.3536293628295904,-0.028933311504239202 l 0.3600589876083101,-0.030540717698919164 l 0.35845158141363026,-0.03214812389359912 l 0.3520219566349106,-0.033755530088279084 l 0.3520219566349106,-0.033755530088279084 l 0.3568441752189503,-0.036970342477639 l 0.3568441752189503,-0.03857774867231894 l 0.35041455044023034,-0.03857774867231894 l 0.3552367690242702,-0.04179256106167885 l 0.3536293628295904,-0.04179256106167885 l 0.35041455044023034,-0.043399967256358835 l 0.3536293628295904,-0.045007373451038765 l 0.3520219566349106,-0.04661477964571872 l 0.3471997380508707,-0.04822218584039868 l 0.3536293628295904,-0.04982959203507865 l 0.35041455044023034,-0.05143699822975858 l 0.35041455044023034,-0.05143699822975858 l 0.35041455044023034,-0.05465181061911851 l 0.3439849256615107,-0.05304440442443855 l 0.35041455044023034,-0.057866623008478404 l 0.3488071442455503,-0.057866623008478404 l 0.3423775194668307,-0.057866623008478404 l 0.3520219566349106,-0.0626888415925183 l 0.3471997380508707,-0.06108143539783833 l 0.34077011327215057,-0.0626888415925183 l 0.34559233185619054,-0.0659036539818782 l 0.34559233185619054,-0.0659036539818782 l 0.3439849256615107,-0.06751106017655817 l 0.3439849256615107,-0.0691184663712381 l 0.3439849256615107,-0.07072587256591804 l 0.3375553008827907,-0.07072587256591804 l 0.3423775194668307,-0.073940684955278 l 0.34559233185619054,-0.073940684955278 l 0.34077011327215057,-0.07715549734463788 l 0.34077011327215057,-0.07715549734463788 l 0.33916270707747076,-0.07715549734463788 l 0.3343404884934308,-0.07876290353931786 l 0.33916270707747076,-0.08197771592867774 l 0.3423775194668307,-0.0835851221233577 l 0.33594789468811087,-0.0835851221233577 l 0.3375553008827907,-0.08519252831803764 l 0.33594789468811087,-0.08679993451271767 l 0.33594789468811087,-0.0884073407073976 l 0.33916270707747076,-0.09001474690207753 l 0.3343404884934308,-0.09001474690207753 l 0.32791086371471095,-0.09001474690207753 l 0.33916270707747076,-0.0948369654861174 l 0.3327330822987509,-0.0948369654861174 l 0.3295182699093908,-0.0948369654861174 l 0.3327330822987509,-0.0980517778754773 l 0.3295182699093908,-0.0980517778754773 l 0.3327330822987509,-0.0996591840701573 l 0.331125676104071,-0.10126659026483723 l 0.3343404884934308,-0.10448140265419717 l 0.3263034575200313,-0.10287399645951716 l 0.3214812389359914,-0.10287399645951716 l 0.331125676104071,-0.10769621504355709 l 0.331125676104071,-0.10930362123823702 l 0.32469605132535106,-0.10769621504355709 l 0.32308864513067115,-0.10930362123823702 l 0.32469605132535106,-0.11091102743291702 l 0.32791086371471095,-0.11412583982227689 l 0.32791086371471095,-0.11573324601695681 l 0.3214812389359914,-0.11412583982227689 l 0.3182664265466313,-0.11412583982227689 l 0.3214812389359914,-0.1173406522116368 l 0.3263034575200313,-0.12216287079567666 l 0.3166590203519513,-0.1173406522116368 l 0.3166590203519513,-0.12216287079567666 l 0.3295182699093908,-0.1253776831850366 l 0.3166590203519513,-0.12377027699035661 l 0.31505161415727145,-0.12377027699035661 l 0.3214812389359914,-0.12859249557439648 l 0.31505161415727145,-0.1253776831850366 l 0.3166590203519513,-0.13019990176907645 l 0.3166590203519513,-0.13019990176907645 l 0.31505161415727145,-0.1318073079637564 l 0.3166590203519513,-0.13341471415843636 l 0.3102293955732315,-0.1318073079637564 l 0.3102293955732315,-0.13502212035311634 l 0.3182664265466313,-0.13984433893715617 l 0.31344420796259137,-0.1382369327424762 l 0.3086219893785515,-0.13662952654779625 l 0.3070145831838717,-0.1382369327424762 l 0.3118368017679116,-0.14305915132651614 l 0.3102293955732315,-0.14305915132651614 l 0.3021923645998318,-0.13984433893715617 l 0.3102293955732315,-0.14627396371587598 l 0.3102293955732315,-0.147881369910556 l 0.3070145831838717,-0.147881369910556 l 0.30540717698919173,-0.147881369910556 l 0.30058495840515187,-0.147881369910556 l 0.3086219893785515,-0.15270358849459587 l 0.3021923645998318,-0.1510961822999159 l 0.3021923645998318,-0.15270358849459587 l 0.30540717698919173,-0.1559184008839558 l 0.2973701460157918,-0.15431099468927575 l 0.29897755221047173,-0.1559184008839558 l 0.30058495840515187,-0.15913321327331564 l 0.30058495840515187,-0.15913321327331564 l 0.2973701460157918,-0.15913321327331564 l 0.29897755221047173,-0.16234802566267553 l 0.2973701460157918,-0.16234802566267553 l 0.2973701460157918,-0.16395543185735548 l 0.295762739821112,-0.1655628380520355 l 0.28933311504239206,-0.16234802566267553 l 0.29254792743175195,-0.1671702442467154 l 0.2973701460157918,-0.17038505663607528 l 0.2941553336264319,-0.17038505663607528 l 0.2877257088477121,-0.16877765044139534 l 0.29254792743175195,-0.17199246283075534 l 0.2877257088477121,-0.17199246283075534 l 0.28933311504239206,-0.17359986902543534 l 0.29094052123707215,-0.1768146814147952 l 0.2861183026530323,-0.17359986902543534 l 0.2877257088477121,-0.17842208760947514 l 0.29094052123707215,-0.18163689999883503 l 0.2829034902636722,-0.1768146814147952 l 0.27808127167963237,-0.1768146814147952 l 0.2845108964583522,-0.183244306193515 l 0.2877257088477121,-0.18485171238819498 l 0.28129608406899237,-0.183244306193515 l 0.27808127167963237,-0.183244306193515 l 0.2861183026530323,-0.18806652477755487 l 0.27808127167963237,-0.18645911858287487 l 0.2748664592902726,-0.18485171238819498 l 0.27968867787431234,-0.1912813371669148 l 0.27968867787431234,-0.1912813371669148 l 0.2732590530955925,-0.1896739309722348 l 0.2764738654849524,-0.19288874336159473 l 0.27968867787431234,-0.1961035557509546 l 0.26843683451155265,-0.1912813371669148 l 0.2748664592902726,-0.1961035557509546 l 0.2732590530955925,-0.19771096194563462 l 0.2652220221221927,-0.19288874336159473 l 0.2748664592902726,-0.20253318052967445 l 0.2716516469009127,-0.20092577433499456 l 0.2700442407062327,-0.20092577433499456 l 0.2652220221221927,-0.20092577433499456 l 0.2620072097328329,-0.1993183681403146 l 0.2700442407062327,-0.20735539911371437 l 0.2700442407062327,-0.20735539911371437 l 0.2603998035381529,-0.20253318052967445 l 0.2603998035381529,-0.2041405867243545 l 0.26843683451155265,-0.2121776176977542 l 0.2620072097328329,-0.2105702115030743 l 0.2587923973434729,-0.20735539911371437 l 0.2620072097328329,-0.2121776176977542 l 0.2603998035381529,-0.21378502389243423 l 0.25236277256475304,-0.20735539911371437 l 0.2587923973434729,-0.21539243008711417 l 0.2587923973434729,-0.21539243008711417 l 0.25557758495411304,-0.21860724247647403 l 0.25718499114879295,-0.21699983628179398 l 0.24754055398071323,-0.21378502389243423 l 0.2539701787594332,-0.22021464867115403 l 0.2539701787594332,-0.22021464867115403 l 0.25236277256475304,-0.22182205486583403 l 0.2507553663700732,-0.2234294610605139 l 0.24754055398071323,-0.22021464867115403 l 0.2491479601753932,-0.22503686725519387 l 0.24754055398071323,-0.22664427344987376 l 0.2459331477860333,-0.2234294610605139 l 0.2427183353966734,-0.22503686725519387 l 0.2459331477860333,-0.22825167964455378 l 0.2443257415913533,-0.22985908583923373 l 0.2443257415913533,-0.23146649203391362 l 0.2427183353966734,-0.23146649203391362 l 0.2378961168126334,-0.22825167964455378 l 0.2378961168126334,-0.23146649203391362 l 0.24111092920199345,-0.2346813044232736 l 0.2346813044232736,-0.23146649203391362 l 0.2378961168126334,-0.2362887106179535 l 0.2378961168126334,-0.2378961168126334 l 0.2362887106179535,-0.2378961168126334 l 0.23146649203391362,-0.2362887106179535 l 0.23146649203391362,-0.2362887106179535 l 0.2362887106179535,-0.2443257415913533 l 0.22825167964455378,-0.23950352300731345 l 0.23146649203391362,-0.2427183353966734 l 0.22985908583923373,-0.2427183353966734 l 0.22664427344987376,-0.24111092920199345 l 0.22503686725519387,-0.2427183353966734 l 0.22664427344987376,-0.2459331477860333 l 0.22664427344987376,-0.24754055398071323 l 0.22182205486583403,-0.2459331477860333 l 0.2234294610605139,-0.24754055398071323 l 0.13984433893715617,-0.15752580707863573 l -125.78757176467998,0 Z","style":{"fill":"rgb(140, 206, 204)","stroke":"none","stroke-width":0,"opacity":1}},"36404fd.c1797b":{"id":"36404fd.c1797b","label":"tweet","type":"text","x":633,"y":270,"text":"...","style":{"fill":"white","stroke":"none","stroke-width":1,"opacity":1,"text-decoration":"none","font-weight":"normal","font-size":"20","font-style":"normal"}},"51adce9a.4ab96":{"id":"51adce9a.4ab96","label":"negtivepercent","type":"text","x":112,"y":417,"text":"0","style":{"fill":"white","stroke":"none","stroke-width":1,"opacity":1,"text-decoration":"none","font-weight":"normal","font-size":"50","font-style":"normal"}},"448423d0.79af1c":{"id":"448423d0.79af1c","label":"neutralpercent","type":"text","x":"548","y":"420","text":"0","style":{"fill":"white","stroke":"none","stroke-width":1,"opacity":1,"text-decoration":"none","font-weight":"normal","font-size":"50","font-style":"normal"}},"a27eb28f.8a70b":{"id":"a27eb28f.8a70b","label":"positivepercent","type":"text","x":"973","y":"422","text":"0","style":{"fill":"white","stroke":"none","stroke-width":1,"opacity":1,"text-decoration":"none","font-weight":"normal","font-size":"50","font-style":"normal"}},"de1ebcfc.356d4":{"id":"de1ebcfc.356d4","label":"since","type":"text","x":116,"y":199,"text":"0","style":{"fill":"#8C8C8C","stroke":"none","stroke-width":1,"opacity":1,"text-decoration":"none","font-weight":"bold","font-size":"100","font-style":"none"}},"35fa5939.cdb576":{"id":"35fa5939.cdb576","label":"circle:35fa5939.cdb576","type":"circle","cx":348.5,"cy":661,"r":"30","style":{"fill":"#D8524F","stroke":"white","stroke-width":"3","opacity":1}},"bdd3ad93.1f048":{"id":"bdd3ad93.1f048","label":"text:bdd3ad93.1f048","type":"text","x":349.5,"y":675,"text":"%","style":{"fill":"white","stroke":"none","stroke-width":1,"opacity":1,"text-decoration":"none","font-weight":"normal","font-size":"40","font-style":"normal"}},"361b9999.b4c3f6":{"id":"361b9999.b4c3f6","label":"circle:361b9999.b4c3f6","type":"circle","cx":768.5,"cy":"661","r":"30","style":{"fill":"#92D5CE","stroke":"white","stroke-width":"3","opacity":1}},"e7c79f60.049c8":{"id":"e7c79f60.049c8","label":"text:e7c79f60.049c8","type":"text","x":768.5,"y":676,"text":"%","style":{"fill":"white","stroke":"none","stroke-width":1,"opacity":1,"text-decoration":"none","font-weight":"normal","font-size":"40","font-style":"normal"}},"915494c9.993728":{"id":"915494c9.993728","label":"circle:915494c9.993728","type":"circle","cx":1198.5,"cy":"662","r":"30","style":{"fill":"#91CF8E","stroke":"white","stroke-width":"3","opacity":1}},"4067168d.eb2dd8":{"id":"4067168d.eb2dd8","label":"text:4067168d.eb2dd8","type":"text","x":1198.5,"y":676,"text":"%","style":{"fill":"white","stroke":"none","stroke-width":1,"opacity":1,"text-decoration":"none","font-weight":"normal","font-size":"40","font-style":"normal"}}},"mappings":[{"mappingId":"b724b4fa.49e098","ttype":"attribute","from":{"sourceId":"53d4aee0.755ba","key":"value","path":["msg","payload"],"type":"string"},"to":{"path":["36404fd.c1797b"],"type":"text","property":"text"}},{"mappingId":"9ed665ba.edb788","ttype":"attribute","from":{"sourceId":"97780629.784608","key":"negative","path":["msg","payload"],"type":"number"},"to":{"path":["51adce9a.4ab96"],"type":"text","property":"text"}},{"mappingId":"4dd68124.ac23e","ttype":"attribute","from":{"sourceId":"97780629.784608","key":"neutral","path":["msg","payload"],"type":"number"},"to":{"path":["448423d0.79af1c"],"type":"text","property":"text"}},{"mappingId":"b55bacba.9d8af","ttype":"attribute","from":{"sourceId":"97780629.784608","key":"positive","path":["msg","payload"],"type":"number"},"to":{"path":["a27eb28f.8a70b"],"type":"text","property":"text"}},{"mappingId":"539283b9.43cffc","ttype":"attribute","from":{"sourceId":"37c3812.88da07e","key":"since","path":["msg","payload"],"type":"number"},"to":{"path":["de1ebcfc.356d4"],"type":"text","property":"text"}},{"mappingId":"35d635fc.8db4ba","ttype":"attribute","from":{"sourceId":"37c3812.88da07e","key":"since","path":["msg","payload"],"type":"number"},"to":{"path":["de1ebcfc.356d4"],"type":"text","property":"x"}},{"mappingId":"7f554c59.6ae434","ttype":"attribute","from":{"sourceId":"37c3812.88da07e","key":"since","path":["msg","payload"],"type":"number"},"to":{"path":["6912143e.a54e6c"],"type":"group","property":"x"}},{"mappingId":"880e7229.e21a3","ttype":"transform","from":{"sourceId":"97780629.784608","key":"current","path":["msg","payload"],"type":"string"},"to":{"path":["450677eb.3dd028"],"type":"group","property":"rotate"}},{"mappingId":"47856e09.e469c","ttype":"style","from":{"sourceId":"97780629.784608","key":"current","path":["msg","payload"],"type":"string"},"to":{"path":["450677eb.3dd028","8afbb762.a72a78"],"type":"path","property":"fill"}}],"transformers":{"35d635fc.8db4ba":"var MAXSECONDS = 40;\nvar STEP = 20;\nvar OFFSET = 116;\n\nvar seconds = since % MAXSECONDS;\n\nif (Math.floor(since / MAXSECONDS) % 2 == 0){\n    return  OFFSET + (seconds * STEP);\n}\nreturn OFFSET + (STEP * MAXSECONDS) - (seconds * STEP); \n","7f554c59.6ae434":"var MAXSECONDS = 40;\nvar STEP = 20;\nvar seconds = since % MAXSECONDS;\n\nif (Math.floor(since / MAXSECONDS) % 2 == 0){\n    return seconds * STEP;\n}\nreturn (STEP * MAXSECONDS) - (seconds * STEP); ","880e7229.e21a3":"if (current === \"positive\"){\n  return `rotate(0)`\n}\nelse if (current === \"neutral\"){\n  return `rotate(90)`\n}\nelse{\n  return `rotate(180)`\n}","47856e09.e469c":"if (current===\"positive\"){\n  return \"#91CF8E\";\n}else if (current===\"neutral\"){\n  return \"#92D5CE\";\n}\nelse{\n  return \"#D8524F\";\n }"},"canvasdimensions":{"w":1260,"h":731.5},"tree":{"b724b4fa.49e098":{"node":{"nid":"82a25a3.5f0cca8","type":"uibuilder","category":"processors","color":"#002255","unicode":"f03e"},"parents":[{"node":{"nid":"53d4aee0.755ba","type":"extract","category":"processors","color":"#002255","unicode":"f0a6"},"parents":[{"node":{"nid":"4bbc47e2.e26758","type":"twitter","category":"datastores","color":"#ffcc00","unicode":"f099"},"parents":[]}]}]},"9ed665ba.edb788":{"node":{"nid":"82a25a3.5f0cca8","type":"uibuilder","category":"processors","color":"#002255","unicode":"f03e"},"parents":[{"node":{"nid":"97780629.784608","type":"dbfunction","category":"processors","color":"#002255","unicode":"f121"},"parents":[{"node":{"nid":"4bbc47e2.e26758","type":"twitter","category":"datastores","color":"#ffcc00","unicode":"f099"},"parents":[]}]}]},"4dd68124.ac23e":{"node":{"nid":"82a25a3.5f0cca8","type":"uibuilder","category":"processors","color":"#002255","unicode":"f03e"},"parents":[{"node":{"nid":"97780629.784608","type":"dbfunction","category":"processors","color":"#002255","unicode":"f121"},"parents":[{"node":{"nid":"4bbc47e2.e26758","type":"twitter","category":"datastores","color":"#ffcc00","unicode":"f099"},"parents":[]}]}]},"b55bacba.9d8af":{"node":{"nid":"82a25a3.5f0cca8","type":"uibuilder","category":"processors","color":"#002255","unicode":"f03e"},"parents":[{"node":{"nid":"97780629.784608","type":"dbfunction","category":"processors","color":"#002255","unicode":"f121"},"parents":[{"node":{"nid":"4bbc47e2.e26758","type":"twitter","category":"datastores","color":"#ffcc00","unicode":"f099"},"parents":[]}]}]},"539283b9.43cffc":{"node":{"nid":"82a25a3.5f0cca8","type":"uibuilder","category":"processors","color":"#002255","unicode":"f03e"},"parents":[{"node":{"nid":"37c3812.88da07e","type":"dbfunction","category":"processors","color":"#002255","unicode":"f121"},"parents":[{"node":{"nid":"76aaa41b.7df30c","type":"inject","category":"input","color":"#d40000","unicode":"f017"},"parents":[]},{"node":{"nid":"4bbc47e2.e26758","type":"twitter","category":"datastores","color":"#ffcc00","unicode":"f099"},"parents":[]}]}]},"35d635fc.8db4ba":{"node":{"nid":"82a25a3.5f0cca8","type":"uibuilder","category":"processors","color":"#002255","unicode":"f03e"},"parents":[{"node":{"nid":"37c3812.88da07e","type":"dbfunction","category":"processors","color":"#002255","unicode":"f121"},"parents":[{"node":{"nid":"76aaa41b.7df30c","type":"inject","category":"input","color":"#d40000","unicode":"f017"},"parents":[]},{"node":{"nid":"4bbc47e2.e26758","type":"twitter","category":"datastores","color":"#ffcc00","unicode":"f099"},"parents":[]}]}]},"7f554c59.6ae434":{"node":{"nid":"82a25a3.5f0cca8","type":"uibuilder","category":"processors","color":"#002255","unicode":"f03e"},"parents":[{"node":{"nid":"37c3812.88da07e","type":"dbfunction","category":"processors","color":"#002255","unicode":"f121"},"parents":[{"node":{"nid":"76aaa41b.7df30c","type":"inject","category":"input","color":"#d40000","unicode":"f017"},"parents":[]},{"node":{"nid":"4bbc47e2.e26758","type":"twitter","category":"datastores","color":"#ffcc00","unicode":"f099"},"parents":[]}]}]},"880e7229.e21a3":{"node":{"nid":"82a25a3.5f0cca8","type":"uibuilder","category":"processors","color":"#002255","unicode":"f03e"},"parents":[{"node":{"nid":"97780629.784608","type":"dbfunction","category":"processors","color":"#002255","unicode":"f121"},"parents":[{"node":{"nid":"4bbc47e2.e26758","type":"twitter","category":"datastores","color":"#ffcc00","unicode":"f099"},"parents":[]}]}]},"47856e09.e469c":{"node":{"nid":"82a25a3.5f0cca8","type":"uibuilder","category":"processors","color":"#002255","unicode":"f03e"},"parents":[{"node":{"nid":"97780629.784608","type":"dbfunction","category":"processors","color":"#002255","unicode":"f121"},"parents":[{"node":{"nid":"4bbc47e2.e26758","type":"twitter","category":"datastores","color":"#ffcc00","unicode":"f099"},"parents":[]}]}]},"7abcf822.8338a8":{"node":{"nid":"82a25a3.5f0cca8","type":"uibuilder","category":"processors","color":"#002255","unicode":"f03e"},"parents":[{"node":{"nid":"97780629.784608","type":"dbfunction","category":"processors","color":"#002255","unicode":"f121"},"parents":[{"node":{"nid":"4bbc47e2.e26758","type":"twitter","category":"datastores","color":"#ffcc00","unicode":"f099"},"parents":[]}]}]}},"x":703,"y":380,"wires":[["90b10fe8.6248f"]]},{"id":"76aaa41b.7df30c","type":"inject","z":"56eca6f3.318ce8","name":"inject","topic":"","payload":"","payloadType":"date","repeat":1,"crontab":"","once":true,"x":260,"y":203,"wires":[["37c3812.88da07e"]]},{"id":"4bbc47e2.e26758","type":"twitter","z":"56eca6f3.318ce8","name":"","subtype":"twitterHashTagStream","x":260,"y":345,"wires":[["53d4aee0.755ba","37c3812.88da07e","97780629.784608","949afa01.34c908"]]},{"id":"53d4aee0.755ba","type":"extract","z":"56eca6f3.318ce8","name":"","filters":[{"source":"twitter","item":{"type":"string","description":"a tweet","name":"value"},"path":["msg","payload","value"]}],"x":405,"y":346,"wires":[["82a25a3.5f0cca8"]]},{"id":"37c3812.88da07e","type":"dbfunction","z":"56eca6f3.318ce8","name":"since","func":"const last = context.get(\"lasttweet\", Date.now());\n\nif (msg.type === \"twitter\"){\n    context.set(\"lasttweet\", Date.now());\n}\n\nreturn {\n    id:\"37c3812.88da07e\",\n    payload:{\n        last: last,\n        since: Math.round( (Date.now()-last)/1000)\n    }\n}","outputs":1,"inputtypedef":"","outputtypedef":"{\n    \"msg\": {\n        \"type\": \"object\",\n        \"description\": \"the container object\",\n        \"properties\": {\n            \"payload\": {\n                \"type\": \"object\",\n                \"description\": \"the message payload\",\n                \"properties\": {\n                    \"since\":{\n                        \"type\":\"number\",\n                        \"description\": \"time since tweet\"\n                    },\n                    \"last\":{\n                        \"type\":\"number\",\n                        \"description\": \"last timestamp\"\n                    }\n                }\n            }\n        }\n    }    \n}","noerr":0,"x":403,"y":205,"wires":[["82a25a3.5f0cca8"]]},{"id":"97780629.784608","type":"dbfunction","z":"56eca6f3.318ce8","name":"score","func":"var sentiment = require(\"sentiment\");\nvar r = sentiment(msg.payload.value);\n\n//get current values\nvar positive = context.get(\"positive\") || 0;\nvar neutral = context.get(\"neutral\") || 0;\nvar negative     = context.get(\"negative\") || 0;\nvar score = r.score || 0;\nvar current = \"\";\n\n//set and save new values\nif (score >= 2){\n    positive = positive + 1;\n    current = \"positive\";\n    context.set(\"positive\", positive);\n}else if (score >= 0){\n    neutral = neutral + 1;\n    current = \"neutral\";\n    context.set(\"neutral\", neutral);\n}else{\n    negative = negative + 1;\n    current = \"negative\";\n    context.set(\"negative\", negative);\n}\n\n//output latest values\nvar total = positive + negative + neutral;\n\nreturn {\n    id: \"97780629.784608\",\n    payload:{\n        positive: Math.floor(positive/total * 100),\n        neutral:Math.floor(neutral/total * 100),\n        negative:Math.floor(negative/total * 100),\n        current: current,\n        total:total\n    }\n};","outputs":1,"inputtypedef":"","outputtypedef":"{\n    \"msg\": {\n        \"type\": \"object\",\n        \"description\": \"the container object\",\n        \"properties\": {\n            \"payload\": {\n                \"type\": \"object\",\n                \"description\": \"the message payload\",\n                \"properties\": {\n                    \"positive\":{\n                        \"type\":\"number\",\n                        \"description\": \"happiness sentiment as %\"\n                    },\n                    \"neutral\":{\n                        \"type\":\"number\",\n                        \"description\": \"neutral sentiment as %\"\n                    },\n                    \"negative\":{\n                        \"type\":\"number\",\n                        \"description\": \"sad sentiment as %\"\n                    },\n                    \"total\":{\n                        \"type\":\"number\",\n                        \"description\": \"total readings\"\n                    },\n                    \"current\":{\n                        \"type\":\"string\",\n                        \"description\": \"current sentiment score\"\n                    }\n                }\n            }\n        }\n    }    \n}","noerr":0,"x":407,"y":468,"wires":[["82a25a3.5f0cca8"]]},{"id":"949afa01.34c908","type":"dbfunction","z":"56eca6f3.318ce8","name":"","func":"var sentiment = require(\"sentiment\");\nvar r = sentiment(msg.payload.value);\nvar score = r.score || 0;\nvar result = [false, false, false];\n\nif (score >= 2){\n    result[0] = true;\n}else if (score >= 0){\n    result[1] = true;\n}else{\n    result[2] = true;\n}\n\nvar output = [\n    {type: \"set-bulb-on\", payload: result[0] ? \"on\":\"off\"},\n    {type: \"set-bulb-on\", payload: result[1] ? \"on\":\"off\"},\n    {type: \"set-bulb-on\", payload: result[2] ? \"on\":\"off\"} \n]\n\nreturn output;","outputs":3,"inputtypedef":"","outputtypedef":"","noerr":0,"x":410,"y":574,"wires":[["f30105fc.0768e8"],["6a4239d2.167198"],["cc6486b4.661b28"]]},{"id":"f30105fc.0768e8","type":"bulbsout","z":"56eca6f3.318ce8","name":"","subtype":"set-bulb-on","value":"","x":575,"y":513,"wires":[]},{"id":"6a4239d2.167198","type":"bulbsout","z":"56eca6f3.318ce8","name":"","subtype":"set-bulb-on","value":"","x":575,"y":590,"wires":[]},{"id":"cc6486b4.661b28","type":"bulbsout","z":"56eca6f3.318ce8","name":"","subtype":"set-bulb-on","value":"","x":574,"y":664,"wires":[]},{"id":"90b10fe8.6248f","type":"app","z":"56eca6f3.318ce8","name":"","appId":"webapp","layout":null,"x":847,"y":349,"wires":[]}]